<p class="title is-4 has-text-primary has-text-centered">
  Course Units
</p>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="images/card_unit1.jpg" alt="Unit 1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong
                >Introduction to Data and Exploratory Data Analysis</strong
              >
              <p>
                Data literacy can support Nepal government’s priorities by
                fostering an environment where citizens have the knowledge to
                use data for evidence-based decision making and to increase
                transparency and accountability in public service delivery.
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Start</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="images/card_unit2.jpg" alt="Unit 1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Data Sources, Context, and Privacy</strong>
              <p>
                Data literacy can support Nepal government’s priorities by
                fostering an environment where citizens have the knowledge to
                use data for evidence-based decision making and to increase
                transparency and accountability in public service delivery.
              </p>
            </div>
            <footer class="card-footer">
              <a href="unit2.html" class="card-footer-item">Start</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="images/card_unit3.jpg" alt="Unit 1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Data Analysis Using Statistical Methods</strong>
              <p>
                Data literacy can support Nepal government’s priorities by
                fostering an environment where citizens have the knowledge to
                use data for evidence-based decision making and to increase
                transparency and accountability in public service delivery.
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Start</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="images/card_unit4.jpg" alt="Unit 1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Obtaining & Wrangling with Messy Data</strong>
              <p>
                Data literacy can support Nepal government’s priorities by
                fostering an environment where citizens have the knowledge to
                use data for evidence-based decision making and to increase
                transparency and accountability in public service delivery.
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Start</a>
            </footer>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="images/card_unit5.jpg" alt="Unit 1" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Framing Relevant Questions for Investigation</strong>
              <p>
                Data literacy can support Nepal government’s priorities by
                fostering an environment where citizens have the knowledge to
                use data for evidence-based decision making and to increase
                transparency and accountability in public service delivery.
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Start</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
