<p class="title is-4 has-text-primary has-text-centered">
  August-September 2019 Units
</p>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <a href="/unit6">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/card_unit6.jpg" alt="Unit 6" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Introduction to Probability and Inferential Statistics</strong>
                <p>
                  This unit covers topics on probability theory, theoritical probability and experimental probability, compound
                  probabilities, conditional probabilities, inferential statistics and correlation and regression.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/unit7">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/card_unit7.jpg" alt="Unit 7" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Introduction to Python and Machine Learning</strong>
                <p>
This unit covers topics on Google Colab for data analysis and machine learning, introduction to Pandas and Seaborn,
introduction to machine learning and creating simple machine learning models for regression and classification.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/unit8">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/card_unit8.jpg" alt="Unit 8" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Basic Dataviz with Tableau</strong>
                <p>
This unit covers topics on basic data visualization with Tableau including understanding data, organizing it, and
presenting it in formats and visualizations that makes sense to people who use it to make a real impact with data.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <a href="/unit9">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/card_unit9.jpg" alt="Unit 9" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Leading a Data Driven Project</strong>
                <p>
This unit covers topics on data collection, planning data driven projects and setting up the team, survey methodologies
and collecting data by leveraging a mobile device.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="/unit10">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="images/card_unit10.jpg" alt="Unit 10" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Leadership and Design</strong>
                <p>
  This unit covers topics on design thinking and it's application, use of big data in design thinking, servant leadership,
  presentation skills and the characteristics of a good presentation.
                </p>
              </div>
            </div>
          </div>
      </div>
      </a>
    </div>
  </div>
</div>