<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Dean Jolliffe
  </p>
  <p class=" subtitle is-6">
    Dean Jolliffe is a lead economist in the Living Standards Measurement Study
    (LSMS) team in the Survey Unit of the Data Group at the World Bank. He has
    experience in the design and implementation of household surveys in several
    countries and is currently co-managing ongoing LSMS work in Ethiopia. He
    previously worked in the Research Group of the World Bank on issues related
    to the global poverty counts and more generally on measuring poverty with
    household survey data. Prior to the Bank, he was a research economist at the
    Economic Research Service of US Department of Agriculture, an adjunct
    professor at the Johns Hopkins University School of Advanced International
    Studies, an assistant professor at the Center for Economic Research and
    Graduate Education in Prague, and a post-doctoral fellow at the
    International Food Policy Research Institute. Dean holds appointments as a
    Research Fellow with the Institute for the Study of Labor in Bonn, and as a
    Research Affiliate with the National Poverty Center at the University of
    Michigan. He received his Ph.D. in economics from Princeton University.
  </p>
  <br />
  <p class=" title is-4 has-text-primary is-spaced">
    Hiroki Uematsu
  </p>
  <p class=" subtitle is-6">
    Hiroki Uematsu is a senior economist in the Poverty and Equity Global
    Practice of the World Bank, based in Kathmandu, Nepal. He currently leads
    the country work program on Partnership for Knowledge-based Poverty
    Reduction and Shared Prosperity in Nepal. Prior to moving to Kathmandu, his
    earlier work focused on global poverty and county engagement in South Asia
    and Middle East. He received his Ph.D in Agricultural Economics from
    Louisiana State University.
  </p>
  <br />
  <p class=" title is-4 has-text-primary is-spaced">
    Ganesh Thapa
  </p>
  <p class=" subtitle is-6">
    Ganesh Thapa is an economist at the Poverty and Equity Global Practice of
    the World Bank and is based in Kathmandu, Nepal. He previously worked with
    the World Food Program (WFP), International Food Policy Research Institute
    (IFPRI) and Feed the Future Nutrition Innovation Lab (FtF-NIL). He also
    worked as Fisheries Development Officer with the Ministry of Agriculture,
    Nepal. He received his Ph.D. in Agricultural Economics from Purdue
    University.
  </p>
  <br />
</section>
