<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Syllabus
  </p>
  <p class=" subtitle is-6">
    Follow this
    <a
      target="_blank"
      href="https://www.worldbank.org/en/events/2017/12/25/appliedeconometricsforpractitioners#2"
      >link</a
    >
    for complete syllabus.
  </p>
  <hr />
  <br />
  <p class=" title is-4 has-text-primary is-spaced">
    Phase 2
  </p>

  <div class="columns">
    <div class="column is-one-third">
      <a
        href="https://drive.google.com/open?id=1tOvknap5UUOwWvF2Ga4wtxvNMv2fGih1"
        target="_blank"
      >
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="{{ "images/handouts.jpg" | relURL }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Handouts</strong>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-one-third">
      <a
        href="https://drive.google.com/open?id=13Yno6hLfItSUAs9VTuWP3ApeqsMrMiuM"
        target="_blank"
      >
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="{{ "images/problemsets.jpg" | relURL }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>Problem Sets</strong>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-one-third">
      <a
        href="https://drive.google.com/open?id=1kGx2zql-igMdWvzoAIKoqNpvLojKmVT-"
        target="_blank"
      >
        <div class="card">
          <div class="card-image">
            <figure class="image is-2by1">
              <img src="{{ "images/ta.jpg" | relURL }}" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <strong>TA Sessions</strong>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
