<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Overview
  </p>
  <p class=" subtitle is-6">

    After successful completion of the course, the participants will have
    learned several econometric techniques and will be able to carry out on
    their own empirical analysis. For example, the participants can answer
    research question such as: What factors are associated with the poverty
    outcomes in Nepal? Participants will be able to critically review and
    correctly interpret regression results. Moreover participants will develop a
    habit of working on Stata dofile and be comfortable implementing the
    econometric software: Stata-12.
  </p>
  <hr/>
  <br />
  <p class="title is-4 has-text-primary is-spaced">
    Course Schedule and Calendar
  </p>
  <p class="subtitle is-6">
    The lectures will be delivered in two phases. The first phase consists of
    five lectures and starts from December 10th, to December 20th, 2018. The
    second phase consists of seven lectures and resumes on January 7th and
    concludes on January 20th, 2019.
    <br /><br />
    The venue will be in Durbar Marg/Thamel area in Kathmandu and to be
    announced upon final confirmation. Lectures will be from 8 AM to 10 AM and
    breakfast will be served from 7:30 am.
  </p>
  <br />
  <p class="title is-4 has-text-primary is-spaced">
    Resources
  </p>
  <p class="subtitle is-6">
    The World Bank will provide the soft copies of lecture slides, problem sets,
    reading materials, and a book. The World Bank will not provide
    transportation and lodging costs.
  </p>
    <br />
  <p class="title is-4 has-text-primary is-spaced">
    Instructors:
  </p>
  <p class="subtitle is-6">
    <ul>
        <li>1. Dr. Dean Jolliffe</li>
        <li>2. Dr. Hiroki Uematsu</li>
        <li>3. Dr. Ganesh Thapa</li>
    </ul>
  </p>
   <br />
  <p class="title is-4 has-text-primary is-spaced">
    How to Apply:
  </p>
  <p class="subtitle is-6">
Please send your updated CV, a scanned copy of your academic transcript of the highest degree completed, and a brief statement describing your previous use of Stata and motivation for taking this course to <strong>nepaldata@worldbank.org</strong>.
Please apply by <strong>30th November 2018</strong>. Seats are limited; accepted candidates will be notified via email by <strong>3rd December</strong>. The course attendance is free for selected candidates.
  </p>
     <br />
  <p class="title is-4 has-text-primary is-spaced">
    Requirements:
  </p>
  <p class="subtitle is-6">
      <ul>
          <li>1. Ability to regularly attend the course and complete out-of-classroom assignments</li>
<li>2. Personal laptop with the installation of Stata-12</li>
<li>3. Basic knowledge of statistics or econometrics</li>
<li>4. Basic skills in using Stata or an aptitude for learning software from manuals or online help</li>
<li>5. Any course on micro-economics on your transcripts will be a plus</li>
      </ul>
 </p>
</section>
