<!-- feature text and image -->
<section class="section">
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd"
    >
      <div class="columns is-desktop">
        <div class="column is-6-desktop">
          <section>
            <p class="title is-3 has-text-primary is-spaced">
              Data literacy to enhance data-driven decision-making
            </p>
            <p class="subtitle is-6">
              Nepal Data Literacy Program is designed to catalyze stronger
              data-driven decision-making by government and non-government
              actors (mass media, civil society, and academia) through targeted
              Data Literacy and data systems strengthening. The program
              comprises a modular, customizable pedagogy to support both
              technical skills-building and efforts to inaugurate a ‘culture of
              data use’ among targeted stakeholders.
              <br /><br />
              Data, more specifically, government data can play an instrumental
              role in helping Nepal government advance its development
              objectives and its aim of achieving double-digit growth rate,
              foster partnership among various government agencies, and enable
              and environment for robust tracking and monitoring of progress.
            </p>
          </section>
        </div>
        <div class="column is-6-desktop">
          <div class="slider">
            <div><img src="images/header1.jpg" /></div>
            <div><img src="images/header2.jpg" /></div>
            <div><img src="images/header3.jpg" /></div>
            <div><img src="images/header4.jpg" /></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
