<footer class="footer">
    <div class="content">
        <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">
                <div class="columns">
                    <div class="column">
                        <p class="title is-6 has-text-grey-lighter">Quick Links</p>
                        <hr />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/" | relURL }}">Home</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/" | relURL }}">June-July 2019 Workshop</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/portals" | relURL }}">External Portals</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/contact" | relURL }}">Contact</a>
                    </div>
                    <div class="column">
                        <p class="title is-6 has-text-grey-lighter">Course Units</p>
                        <hr />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/unit1" | relURL }}">Unit 1</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/unit2" | relURL }}">Unit 2</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/unit3" | relURL }}">Unit 3</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/unit4" | relURL }}">Unit 4</a><br />
                        <a class="subtitle is-6 has-text-grey-light" href="{{ "/unit5" | relURL }}">Unit 5</a>
                    </div>
                    <div class="column">
                        <p class="title is-6 has-text-grey-lighter">Contact</p>
                        <hr />
                        <span class="icon">
                            <i class="fas fa-envelope has-text-grey-light"></i>
                        </span>
                        <span>
                            <a class="is-6 has-text-grey-light" href="mailto:datafornepal@gmail.com">datafornepal@gmail.com</a>
                        </span>

                        <br />
                        <span class="icon">
                            <i class="fas fa-phone has-text-grey-light"></i>
                        </span>
                        <span class="is-6 has-text-grey-light">
                            +977 1-4236000
                        </span>     
                    </div>

                    <div class="column">
                        <p class="title is-6 has-text-grey-lighter">License</p>
                        <hr />
                        <span class="icon">
                            <i class="fab fa-creative-commons has-text-grey-light fa-2x"></i>
                        </span>
                        <span>&nbsp;</span>
                        <span class="icon">
                            <i class="fab fa-creative-commons-by has-text-grey-light fa-2x"></i>
                        </span>
                        <p class="is-6 has-text-grey-light">World Bank Nepal Data Literacy Program’s content is licensed under a Creative Commons Attribution-ShareAlike 4.0
                        International License.</p>
                    </div>
                    <div class="column">
                        <p class="title is-6 has-text-grey-lighter">Organizer and Supporter</p>
                        <hr />
                        <img src="{{ "images/organized.jpg" | relURL }}" />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>