<footer class="footer">
    <div class="content">
        <div class="columns is-mobile is-centered">
            <div class="column is-two-thirds">
                <div class="columns">
                    <div class="column">
                        <p class="title is-6 has-text-white">Quick Links</p>
                        <a class="subtitle is-6 has-text-white" href="index.html">Home</a><br />
                        <a class="subtitle is-6 has-text-white" href="portals.html">External Portals</a><br />
                        <a class="subtitle is-6 has-text-white" href="contact.html">Contact</a><br />
                        </p>
                    </div>
                    <div class="column">
                        <p class="title is-6 has-text-white">Course Units</p>
                        <p class="has-text-white">
                            Unit 1<br />Unit 2<br />Unit 3<br />Unit 4<br />Unit 5
                        </p>
                    </div>
                    <div class="column">
                        <p class="title is-6 has-text-white">Contact</p>
                        <p class="has-text-white">email@email.com<br />0140000000</p>
                    </div>
                    <div class="column">
                        <figure class="image is-48x48">
                            <img src="{{ "images/cc.png" | relURL }}" />
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>