<!-- meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:site_name" content="Nepal Data Literacy Program" />
<meta property="og:title" content="Nepal Data Literacy Program" />
<meta property="og:url" content="https://dataliteracy.github.io/" />
<meta property="og:type" content="website" />
<meta
  property="og:description"
  content="Nepal Data Literacy Program is designed to catalyze stronger data-driven decision-making by government and non-government actors (mass media, civil society, and academia) through targeted Data Literacy Workshop to help Nepal achieve its development goals."
/>
<meta
  property="og:image"
  content="https://dataliteracy.github.io/images/header2.jpg"
/>
<link rel="shortcut icon" href="{{ "images/logo.png" | relURL }}" />
<!-- style sheets -->
<link rel="stylesheet" href="{{ "css/bulma.css" | relURL }}" />
<link
  href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap"
  rel="stylesheet"
/>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-142181287-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "UA-142181287-1");
</script>
