<!-- navigation bar -->
<nav class="navbar has-shadow is-spaced is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ "/" | relURL }}">
      <p class="title is-5 has-text-primary is-spaced">
        Nepal Data Literacy Program <sup class="subtitle is-6 has-text-danger">(BETA)</sup>
      </p>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{ "/" | relURL }}">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Workshops
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ "/workshop1" | relURL }}">
            June-July 2019
          </a>
          <a class="navbar-item" href="{{ "/workshop2" | relURL }}">
            August-September 2019
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Course Units
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ "/unit1" | relURL }}">
            Unit 1
          </a>
          <a class="navbar-item" href="{{ "/unit2" | relURL }}">
            Unit 2
          </a>
          <a class="navbar-item" href="{{ "/unit3" | relURL }}">
            Unit 3
          </a>
          <a class="navbar-item" href="{{ "/unit4" | relURL }}">
            Unit 4
          </a>
          <a class="navbar-item" href="{{ "/unit5" | relURL }}">
            Unit 5
          </a>
          <a class="navbar-item" href="{{ "/unit6" | relURL }}">
            Unit 6
          </a>
          <a class="navbar-item" href="{{ "/unit7" | relURL }}">
            Unit 7
          </a>
          <a class="navbar-item" href="{{ "/unit8" | relURL }}">
            Unit 8
          </a>
          <a class="navbar-item" href="{{ "/unit9" | relURL }}">
            Unit 9
          </a>
          <a class="navbar-item" href="{{ "/unit10" | relURL }}">
            Unit 10
          </a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Resources
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="{{ "/portals" | relURL }}">
            External Portals
          </a>
                  <a class="navbar-item" href="{{ "/projects" | relURL }}">
                    Participant Projects
                  </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="{{ "/contact" | relURL }}">
            <strong>Contact</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>