<div class="columns is-mobile is-centered">
  <div
    class="column is-three-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <p class="title is-4 has-text-primary has-text-centered is-spaced">
      Participating Organizations
    </p>
    <p class="subtitle is-6 has-text-centered">
      Organizations that participated in the data literacy program to support
      our vision to enhance data-driven decision-making.
    </p>
  </div>
</div>

<!-- <section class="section">
  <div class="columns">
  <div class="column">1</div>
  <div class="column">2</div>
  <div class="column">3</div>
  <div class="column">4</div>
  <div class="column">5</div>
</div>
</section> -->




<div class="columns is-mobile is-centered">
  <div
    class="column is-three-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <div class="columns is-centered">
   <center>
      <a href="http://ncenepal.org.np/" target="_blank">
      <div class="column">
        <figure class="image is-64x64">
          <img src="images/nce.png" />
        </figure>
      </div>
      </a>
 </center>
  <center>
    <a href="https://ifsnepal.org/" target="_blank">
      <div class="column">
        <figure class="image is-64x64">
          <img src="images/ifs.png" />
        </figure>
      </div>
</center>
  <center>
      <a href="https://www.viewyourchoice.org/" target="_blank">
        <div class="column">
          <figure class="image is-64x64">
            <img src="images/vyc.png" />
          </figure>
        </div>
 </center>       
 <center>
      <a href="https://www.thebritishcollege.edu.np/" target="_blank">
        <div class="column">
          <figure class="image is-64x64">
            <img src="images/british_college.png" />
          </figure>
        </div>
        </center>
  <center>
          <a href="https://www.teachfornepal.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/teach_for_nepal.png" />
              </figure>
            </div>
            </center>
 <center>
          <a href="https://www.facebook.com/thealankar/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/alankar.png" />
              </figure>
            </div>
     </center> 
      <center>
    <a href="https://theopen.institute/" target="_blank">
      <div class="column is-centered">
        <figure class="image is-64x64">
          <img src="images/open_institute.png" />
        </figure>
      </div>
    </a>
  </center>

  <center>
    <a href="https://www.facebook.com/RLadiesKtm/" target="_blank">
      <div class="column">
        <figure class="image is-64x64">
          <img src="images/r_ladies.png" />
        </figure>
      </div>
  </center>
    <center>
      <a href="https://www.kusom.edu.np/" target="_blank">
        <div class="column">
          <figure class="image is-64x64">
            <img src="images/kusom.png" />
          </figure>
        </div>
    </center>

    </div>
  </div>
</div>
<div class="columns is-mobile is-centered">
  <div
    class="column is-three-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <div class="columns is-centered">
     <center>
      <a href="http://nyayahealth.org/" target="_blank">
        <div class="column">
          <figure class="image is-64x64">
            <img src="images/nyaya.png" />
          </figure>
        </div>
    </center>
        <center>
          <a href="http://www.iids.org.np/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/iids.png" />
              </figure>
            </div>
        </center>
        <center>
          <a href="https://www.fhi360.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/fhi.png" />
              </figure>
            </div>
        </center>
        <center>
          <a href="http://www.brihaspaticollege.edu.np/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/brihaspati.jpg" />
              </figure>
            </div>
        </center>
        <center>
          <a href="http://www.icimod.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/icimod.jpg" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="http://www.hulakinews.com/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/hulaki.png" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="https://ekantipur.com/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/kantipur.png" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="http://www.samatafoundation.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/samata.png" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="http://sanopaila.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/sanopaila.png" />
              </figure>
            </div>
        </center>        

    </div>


<div class="columns is-mobile is-centered">
  <div
    class="column is-three-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <div class="columns is-centered">
         <center>
          <a href="http://www.bikasudhyami.com/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/bikas.jpg" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="https://research.butmedia.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/cmr.jpg" />
              </figure>
            </div>
        </center>
        <center>
          <a href="https://www.nepalyouthfoundation.org/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/nepalyouth.jpg" />
              </figure>
            </div>
        </center>
        <center>
          <a href="http://nimscollege.edu.np/sejo" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/nims.jpg" />
              </figure>
            </div>
        </center>
        <center>
          <a href="https://www.sejonnepal.org.np/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/sejon.jpg" />
              </figure>
            </div>
        </center>
        <center>
          <a href="https://www.kingscollege.edu.np/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/kings.png" />
              </figure>
            </div>
        </center>        
        <center>
          <a href="http://nepalbankers.com.np/" target="_blank">
            <div class="column">
              <figure class="image is-64x64">
                <img src="images/nba.png" />
              </figure>
            </div>
        </center>        

    </div>

</div>
</div>
</div>

  </div>
</div>
