<section>
    <p class=" title is-4 has-text-primary is-spaced">Predictions based on Tourism Stats </p>
    <p class=" subtitle is-6">To analyse the tourism data of past 20 years (1998 to 2018) </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">To analyse past tourism data and present the findings in a blog portal to successfully
        initiate the discussion around the strategy and marketing limitations and provide suggestions based on the facts
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">For the vision of Nepal Government: Visit Nepal 2020, proper study and analysis of
        available data is very important to to make better evidence based decisions to successfully increase the total
        number of tourists and their average length of stay. Hence the project offers the detailed analysis of tourism
        data with further plans which will hopefully help in effective planning of visit Nepal 2020. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>No</p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            https://docs.google.com/presentation/d/1MWgkZClMsVNTO1t9249kZZTk98EC5xuFrv36EnLn0YU/edit?usp=sharing/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://docs.google.com/spreadsheets/d/11TWEU3LBNeF-YipFKpoq5ao9O6yVa1F9gOo08WKXv1o/edit?usp=sharing"target="_blank">
                <p class=" is-6 has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">1. Availability of raw data from the Nepal Tourism Board
        2. Availability of marketing plan and budgeting data from tourism board for past years to analyze it's
        effectiveness and make suggestions based on external marketing data.
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">Need help with following data collection:

        1. Raw Data
        2. Marketing Plan
        3. Financial Data </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6">Team 8 changed the project from Phase I to Phase III </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>