<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Access to Education and Health, a way to reduce Inequality
  </p>
  <p class=" subtitle is-6">
    An analysis of gender and ethnicity inequality based on some parameters of
    education and health with the aim to uncover the situation to rest of
    ecosystem working on inequality issue.
  </p>
  <hr />
  <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
  <p class=" subtitle is-6">
    Paper has visualized the inequalities prevailing in Nepalese education,
    health sector. Even though Nepalese society has heterogeneity in resource
    allocation, access to finance, political reach, wealth distribution and so
    on, we further explored further on gender, ethnicity and geographic
    location. We expect to develop a dashboard to visualize the situation of SDG
    goal number ten on reduction of inequality. The portal would be useful for
    government and other agencies to intervene for reducing inequality and
    create social justice.issue.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
  <p class=" subtitle is-6">
    Paper has tried to review the status of some of parameters education and
    health sector in relation to goal number ten, Reduced Inequality of SDG. We
    have aimed to create a dashboard that would visualize the inequality
    prevailing in education and health sector on the basis of gender, ethnicity
    and geography of Nepal. The paper has sort out some sectors that need
    immediate intervention to reduce inequality but it has not provided the
    possible suggestions.
  </p>
  <br />

  <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
  <iframe
    style="width: 100%; height: 560px;"
    src="https://public.tableau.com/shared/K624BB3PB?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
    width="1600"
    height="629"
  ></iframe>

  <p class=" subtitle is-6"><br /><br /></p>
  <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>
  <iframe
    style="height:560px;"
    src="https://docs.google.com/presentation/d/e/2PACX-1vRlols2mYtiqrcDv897-Gk5XmDCZbBV7MY3N-G-HeriyVqO9GLgrABljMz5sEza4O_rpHp8sIxuwaYh/embed?start=false&loop=false&delayms=3000"
    frameborder="0"
    width="1600"
    height="629"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
  ></iframe>

  <br /><br />
  <p class=" title is-5 has-text-primary is-spaced">
    Dataset Link:<a
      href="
                https://drive.google.com/drive/folders/1Nc32wKP7csmW5MzubiAd8Swv5s3SefyV"
      target="_blank"
    >
      <p
        class="
                is-6 has-text-grey-light"
      >
        Dataset
      </p></a
    >
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class=" subtitle is-6">
    Among various parameters in defining education sector, we have considered
    illiteracy rate of males and females in provinces of Nepal, Education
    attainment of different gender. For analysis of health sector, provincial
    data on mortality rate, skilled birth rate are analyzed. Apart from these,
    province wise child marriage, gender wise employment rate and ethnicity &
    gender wise political representation in latest election has been analyzed.
    We have limited our study only to visualize the context creating further
    space for government and other agencies to work on or intervene in
    particular sector for lowering gap.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class=" subtitle is-6">
    We require help from statisticians and experts in data visualization and
    consultation of World Bank team for further development of policy briefs,
    and obvious coordination in implementation phase of the project. If any
    agency show interest with adequate budge in intervening the sector with
    concrete action, we could co-work with them.
  </p>
  <br />

  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/prakriti.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Prakriti Dhungana
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/srawan.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Srawan KC
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/sunil_p.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Sunil Pokharel
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/tilak.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Tilak Pathak
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
