<section>
    <p class=" title is-4 has-text-primary is-spaced">Analysis on Low total fertility rate in regards to Nepal </p>
    <p class=" subtitle is-6">We would like to analyze the factors affecting the Total Fertility Rate (TFR) with
        regards to Nepal </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">To bring the issue and factors affecting the low TFR into limelight </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">Analysis was done correlating TFR with female literacy , infant mortality and female
        employment .Limitations of the work were highlighted and why the issue needs to be raised was mentioned. </p>
    <br />

        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>
        
        <iframe style="height:560px" src="https://docs.google.com/presentation/d/e/2PACX-1vT1ryMJwl_pVwQNsDnt13QoakHLED3gJDWvZr9EL0TOhA-2gkoOFpJHFlDX2Tk4KBP-pv-Yxh4qTScr/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        
<br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/drive/folders/1JH-eE4YPoFKOeNJaanNp62HUZBXNtxds?usp=sharing"target="_blank">
                <p class=" is-6 has-text-grey-light">Dataset</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">
        <ul>
        <li>1) Others Factors affecting low TFR has not been identified and analyzed</li>
        <li>2) Unavailability of large secondary data to do thorough analysis</li>
        <li>3) Time constraints to do a thorough research</li>
        <li>4) Lack of required resources for primary data collection</li>
        <li>5) The issue itself is not in major focus for government or non government agencies</li>
        </ul>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6"><ul>
        <li>1) Data Scientist to study other major factors affecting low TFR</li>
        <li>2) Campaign Manager to better highlight the issue among stakeholders.</li></ul>
    </p><br />

<p class="title is-5 has-text-primary is-spaced">
        Team Members
    </p>
    <div class="columns">
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/bal.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
               Balkrishna Khadka
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/bikesh.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Bikesh Gautam
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/kalyan.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
              Kalyan Adhikari
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/subash.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Subash Pandey
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
    </div>
</section>