<section>
    <p class=" title is-4 has-text-primary is-spaced">What factors affect the happiness of a country? Can Nepal define its own happiness indicator? </p>
    <p class=" subtitle is-6">Factors which are often seen as the standards of success for countries do not consider the happiness of people. So, this project tries to compare the factors such as cost of living, purchasing power index, monthly income, suicide rate to see its correlation with happiness index and explore the possible factors can accurately reflect happiness of people.

    </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">To understand the relationship of other factors that can influence happiness with the happiness index and research if Nepal can design its own indicator to measure happiness.
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">After performing regression, correlation and analytics comparing Happiness index with other indicators such as cost of living, purchasing power index, monthly income, suicide rate , here are the following conclusions we have derived:
        <ul>
            <li>
                - The most developed countries had high Happiness Index, but the pattern varied for the less developed ones. In case of Nepal, even though the GDP remained largely constant over the years happiness was fluctuating.
            </li>
            <li>
                - We found no association between suicide rate and happiness index of the countries around the world.
            </li>
            <li>
                - Some of the factors like cost of living, purchasing power cost of living index, purchasing power index and monthly income are positively associated with happiness. Hence, using multivariate analysis of cost of living index, purchasing power index and monthly income has provided an opportunity to predict the happiness index of the countries that are not included in world happiness report.
            </li>
        </ul>
        <br/><br/>
        Given the mixed results, there is a scope to define happiness measure according to the context of the specific countries. The way forward is to design an open portal where stakeholders interested in measuring happiness in Nepal can carry forward the research to figure out possible indicators to measure it
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboards</p>

    <iframe style="width: 100%; height: 560px;" src="https://public.tableau.com/views/WorldHappinessMap_15675835018710/WorldHappinessMap?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no" width="1600" height="629"></iframe>

    <iframe style="width: 100%; height: 560px;" src="https://public.tableau.com/views/Eommercedatafromdataliteracytraining-Sanhita/HappinessIndex?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no" width="1600" height="629"></iframe>

    <iframe style="width: 100%; height: 560px;" src="https://public.tableau.com/views/HappinessSuicideandIncomeofcountries/HappinessSuicideandIncomeofcountries?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no" width="1600" height="629"></iframe>

    <br />
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Google Colab</p>

    <a href="
                https://colab.research.google.com/drive/1xE-L7IdieuoWv-JJUO13XsQHgyVs876c#scrollTo=wDnPTERN5H3u" target="_blank">
        <p class=" is-6 has-text-grey-light">Google Colab 1</a>

    </p>
    <br />

    <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>

    <iframe style="height:560px;" src="https://docs.google.com/presentation/d/e/2PACX-1vQvmINSl3pokr-q8H9lrrGNVpcX0_WUbfgYJDltMWniniAz6HAiLtxHZZHEdNxS_QXJ0Zau3As09MQL/embed?start=false&loop=false&delayms=3000" frameborder="0" width=" 1600" height=" 629" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

    <br />
    <br />

    <p class=" title is-5 has-text-primary is-spaced">Dataset Link:
        <a href="
                https://drive.google.com/drive/u/1/folders/1957ohHk9jRKMuMfVK3npZmWd-50WNU8c" target="_blank">
            <p class=" is-6 has-text-grey-light">Dataset</p>
        </a>
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">We could analyze various other factors to get a more rigorous analysis but due to time limitations and data constraint we have only considered certain factors and cannot fully predict what could be the other indicators to measure Happiness in Nepal.
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">We need support form statistician for more rigorous analysis and technology expert to design portals. </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6">We would appreciate your feedback and perspective to carry this project forward. </p>
    <br />
    <p class="title is-5 has-text-primary is-spaced">
        Team Members
    </p>
    <div class="columns">
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/sanhita.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Sanhita Sahasrabudhe
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/soni.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Soni Khanal
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/sarita.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Sarita Sharma
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
        <div class="column">
            <figure class="image is-128x128">
                <img src="{{ "images/sulav.jpg" | relURL }}" class="is-rounded" />
            </figure>
            <br />
            <p class="title is-6 has-text-primary">
                Sulav Nepal
            </p>
            <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
        </div>
    </div>
</section>