<section>
    <p class=" title is-4 has-text-primary is-spaced">
        Ensuring Safe Destination for Female Labour Migrants
    </p>
    <p class=" subtitle is-6">
        This project will focus on understanding the data gap related to female migrant workers and their destination country.
    </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">
        Creating safer foreign employment for female migrant workers.
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">
        This project will understand the current status of the female migrant worker in terms of their choice of destination, uses of channel and difficulties they face during their foreign employment. It will also help to bridge the data gap for female foreign migrants workers to access information on their destination country and risk associated with that. We look forward to facilitating the foreign workers to rely upon formal and dependable sources to ensure a safer working environment.
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>

    <iframe style="width: 100%; height: 560px;" src="https://public.tableau.com/views/Team18Dashboard1/Dashboard1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no" width="1600" height="629"></iframe>
    <br />
    <iframe style="width: 100%; height: 560px;" src="https://public.tableau.com/views/Team18Project1/Sheet1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no" width="1600" height="629"></iframe>

    <br />

    <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vShTUfMtuBaCdFhUHuNIoGXg1Njzm8WujiLq0BfSylP2FEIijmsi1j8lPu0HC-1o5_ytiVWrEXrnEhq/embed?start=false&loop=false&delayms=3000" frameborder="0" style="height:560px;" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <br />
    <br />
    <p class=" title is-5 has-text-primary is-spaced">
        Dataset Link:
        <a href="
                https://drive.google.com/open?id=1OThmtn0e9DbfAPAJYS-9DNiBukd-WDpY" target="_blank">
            <p class=" is-6 has-text-grey-light">
                Dataset
            </p>
        </a>
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">
        Limitations of the Project
    </p>
    <p class=" subtitle is-6">
        <ul>
            <li>- Creditability </li>
            <li>- In-depth understanding of the topics</li>
        </ul>
    </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">
        Areas where help is required
    </p>
    <p class=" subtitle is-6">
        Data Scientist, Qualitative data experts and Quantitative data experts
    </p>
    <br />
<p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/alina.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">

Alina Chhantel
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/hem.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
               
Hem K Shrestha 

      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/roshee.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">

Roshee Lamichhane Bushal
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/sijal.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Sijal Pokharel
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
