<section>
    <p class=" title is-4 has-text-primary is-spaced">Risk Analysis among Migrant Workers from Nepal and Ways to
        ensure Decent Work </p>
    <p class=" subtitle is-6">This project has analyzed the data of migrant workers from Nepal and the initiative that
        can be taken to ensure decent work in foreign countries.
    </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">We want to create a portal where we want to visualize the data of labour migrants,
        remittance data, death toll and injury toll for respective migrant countries. We want to analyze the bilateral
        agreement signed by countries for labour work and also make recommendations to sign bilateral agreement in
        scenario of certain countries to ensure decent work for migrant workers. We also want to make recommendation to
        the provincial and federal government to implement skills mapping as per the countries need for skilled labours
        and conduct training programs for decent work of migrants in respective countries for they are trained for.
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">As a part of our first phase, we analyzed data gathered from Labor Migration for
        Employment and Centre for the Study of Labour and Mobility - CESLAM’s official website. We found out in
        proportion to total migrant workers migrating to different countries for work, death is high in the country
        where higher number of workers are moving. Despite this high number, government still not signing any bilateral
        agreement/ MOU with the country where death toll seems to be high.
        In the second phase, we are using all the learning of the training in creating a user friendly web portal where
        the existing or potential migrant workers can have access to the current scenario of labor market in different
        countries. Our dashboard is like a template for our web portal where we reside detailed information regarding
        the number of migrant workers moving to different destination countries, remittance flow to Nepal, challenges
        and death along with cause of death of the workers in those countries. Besides, we have also thought of adding a
        News release where we would announce all the news releases from the government or any official sources working
        for labor migrants like World Bank, CESLAM.
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>Embed code:

    <div class='tableauPlaceholder' id='viz1567670286658' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;fi&#47;finalphaseV1&#47;Dashboard1&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='finalphaseV1&#47;Dashboard1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;fi&#47;finalphaseV1&#47;Dashboard1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1567670286658'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '920px'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>


    link:
    https://public.tableau.com/views/finalphaseV1/Dashboard1?:embed=y&:display_count=yes&publish=yes&:origin=viz_share_link
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            https://docs.google.com/presentation/d/1gWmTcOjFJsC-lDmjCoKWOMpWLUyormWYzUl9Zk2F4jw/edit#slide=id.p/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/open?id=1el4oCSgRb9b8eLCtb5aE_Qocuc1Y9BgB"target="_blank"> <p class=" is-6
                has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">We have used the data till 2016/17 only and some of them are till 2014/15 this is due to
        lack of online availability of recent data. Similarly, time constraint is also one of the limitations due to
        which we were not being able to complete our project at our best.


    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">We aim to create a web portal which is public and useful to the existing and potential
        migrant workers. One thing that is quite challenging is to hover our data year-wise slider for which we are
        looking help.

        Additionally, we need information to update our web portal for this we might also need the help of any media
        house.

        At the end basically we are creating a portal for the user who can access all the information regarding the
        labor market so that the users do not have to check different files for accessing information of their interest.
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6">Team Members Bikal Rai - https://www.linkedin.com/in/bikal-rai-b36545166/ Gaurav Kandel
        - https://www.linkedin.com/in/gauravkandel/ Nisha Adhikari -https://www.linkedin.com/in/nisha-adhikari-b7b1759b/
        Pratikshya Sharma - https://www.linkedin.com/in/pratikshya-sharma-2bb852b9/ Shyam K. Thapa -
        https://www.linkedin.com/in/shyam-kumar-thapa-931a95125/ </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>