<section>
    <p class=" title is-4 has-text-primary is-spaced">Government Expenditure and School Dropout rate in classes 8-10
    </p>
    <p class=" subtitle is-6">We tried to know whether Government Investment ( Expenditure) in education has some
        effect in the dropout ratio of class 8,9,10. </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">Goal is to find out Enrollment and Dropout Ratio and Government budget investment
        relationship. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">Government investment in education is decreasing and that has effect in enrollment of
        the students, because enrollment has not significant increased, the dropout of the students specially in class 8
        and 9. Where as dropout of class 10 has decrease. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            https://drive.google.com/file/d/1w9ohjeTEvKx7eBcLYDVqQnu5EXLWhPE8/view?usp=sharing/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/drive/folders/1cjFNodDFf0KMeZAkZo0uYc3LAyz3tGOf?usp=sharing"target="_blank">
                <p class=" is-6 has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">Limitation of the data, We could only collect data of year 2073,2074 and 2074 and data
        of grade 8 , 9 and 10 only.
        Limitation of Analysis, Analysis can not explain the reason of dropout .
        Limitation of Government Budget investment sub-heading
        Limitation of Time</p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">It will help researchers, academicians and students who wants to know the status of
        secondary level education in Nepal</p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6"> </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>