<section>
   <p class=" title is-4 has-text-primary is-spaced">Factors affecting Educational outcomes based on SEE result 2017
   </p>
   <p class=" subtitle is-6">Factors affecting Educational outcomes: exploring the relation between education budget
      and teacher/student ratio in the SEE results 
   </p>
   <hr />
   <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
   <p class=" subtitle is-6">1. Exploring possible relationships between the different variables: provincial
      education budget and teacher-student ratio. <br />
      2. Identify data gaps and field where data consistency is required 
   </p>
   <br />
   <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
   <p class=" subtitle is-6">We are trying to explore the factors affecting educational outcome. Currently we are
      taking into account only two variables: education budget and teacher student ratio to observe their relation to
      educational outcome of students appeared in SEE. 
   </p>
   <br />
   <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
       <iframe style="width: 100%; height: 560px;"
        src="https://public.tableau.com/views/EducationSample/Dashboard1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
        width="1600" height="629"></iframe>
    </p>
    <br />
  <br />

   <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>
   <iframe style="height:560px;" 
   src="https://docs.google.com/presentation/d/e/2PACX-1vShIHJ-qlg2RLCSlCU3A1IHQJ5IV7KrUM23vog-3_b5UCDs6QgxON9mLZnm6UvfWjbsTw06-K5kdCkv/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  
  
  
<br /><br />
   <p class=" title is-5 has-text-primary is-spaced">
      Dataset Link:
      <a href="
         https://docs.google.com/spreadsheets/d/1ArZIi4xRwFJ6YLD_WsTrpSDV3josN0aIlwhaR1B3yGo/edit#gid=1440325836"target="_blank">
   <p class=" is-6 has-text-grey-light">Dataset</p></a>
   </p><br />
   <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
   <p class=" subtitle is-6">We have considered only two factors that impact educational outcome. Also we have taken
      data of year 2017 only due to inconsistency of data availability and time constraints.
   </p>
   <br />
   <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
   <p class=" subtitle is-6">If data would be made available for different years</p>
   <br />
   <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
   <p class=" subtitle is-6">In first phase we explored the impact of gender and ethnicity on education outcome of
      grade 8 in Tulsipur municipality while in phase three due to unavailability of microlevel data in other
      municipalities we investigated other two factors: teacher-student ratio and provincial budget allocation on SEE
      outcome in year 2017. 
   </p>
   <br />
   <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
         
        <img src="{{ "images/abyaya.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Abyaya Neopane
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/anjita.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Anjita Parajuli
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/chandni.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Chandni Singh
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/utkrista.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Utkrista Parajuli
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
