<section>
    <p class=" title is-4 has-text-primary is-spaced">Ensuring Safe Destination for Female Labour Migrants </p>
    <p class=" subtitle is-6">This project will focus on understanding the data gap related to female migrant workers
        and their destination country. </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">Creating safer foreign employment for female migrant workers. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">This project will understand the current status of the female migrant worker in terms of
        their choice of destination, uses of channel and difficulties they face during their foreign employment. It will
        also help to bridge the data gap for female foreign migrants workers to access information on their destination
        country and risk associated with that. We look forward to facilitating the foreign workers to rely upon formal
        and dependable sources to ensure a safer working environment. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
    <div class='tableauPlaceholder' id='viz1567679172874' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Team18Dashboard1&#47;Dashboard1&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='Team18Dashboard1&#47;Dashboard1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Team18Dashboard1&#47;Dashboard1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1567679172874'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.minWidth = '420px'; vizElement.style.maxWidth = '650px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

    <div class='tableauPlaceholder' id='viz1567679262448' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Team18Project1&#47;Sheet1&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='Team18Project1&#47;Sheet1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Team18Project1&#47;Sheet1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1567679262448'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            https://docs.google.com/presentation/d/1JFUI5fz-JZADIR6vD0Xzb_cN9LEX3kqDiRsaxh5Wga0/edit?usp=sharing/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/open?id=1OThmtn0e9DbfAPAJYS-9DNiBukd-WDpY"target="_blank"> <p class=" is-6
                has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">
        -Creditability
        -In-depth understanding of the topics
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">Data Scientist, Qualitative data experts and Quantitative data experts </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6"> </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>