<section>
    <p class=" title is-4 has-text-primary is-spaced">Analysis on Low total fertility rate in regards to Nepal </p>
    <p class=" subtitle is-6">We would like to analyze the factors affecting the Total Fertility Rate (TFR) with
        regards to Nepal </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">To bring the issue and factors affecting the low TFR into limelight </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">Analysis was done correlating TFR with female literacy , infant mortality and female
        employment . Limitations of the work were highlighted and why the issue needs to be raised was mentioned. </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            ttps://docs.google.com/presentation/d/1yNZHx5AgOcIkAAZ78zaXxqfbJnse_LVgQ4oP4copbx0/edit#slide=id.g41c1abdd71_1_126/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/drive/folders/1JH-eE4YPoFKOeNJaanNp62HUZBXNtxds?usp=sharing"target="_blank">
                <p class=" is-6 has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">1) Others Factors affecting low TFR has not been identified and analyzed
        2) Unavailability of large secondary data to do thorough analysis
        3) Time constraints to do a thorough research
        4) Lack of required resources for primary data collection
        5) The issue itself is not in major focus for government or non government agencies
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">1) Data Scientist to study other major factors affecting low TFR
        2) Campaign Manager to better highlight the issue among stakeholders.
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6"> </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>