<section>
    <p class=" title is-4 has-text-primary is-spaced">Women's Representation in Parliament. </p>
    <p class=" subtitle is-6">Elections and political leadership is a male dominated enterprise in almost all parts of
        the world. Though woman seem to possess all desirable qualities just the gender difference between the two
        groups tend to act as the main factor that discourages woman to participate in political issues. Gender equality
        in political leadership is one of the things that have not been achieved yet.
        There has been a lot of studies carried out in the past on the similar issue and majority of them are seem to
        have been done in the African countries where this is seen to be a major problem. Some of the other researches
        have shown that this problem also exists in the Nordic countries. There are also seven countries in the world
        that do not have any woman parliamentarians.
        The main purpose of this study is to identify the factors that affect woman’s participation in political
        leadership in Nepal. Demographic factors like education, religion and marital status influence women’s
        participation in political leadership (Khan 2010). One of the past study conducted in Africa has found out that
        marital status and education level of woman are the main two factors that has affected the woman’s participation
        in political leadership. Since woman are lesser involved in jobs that fetches them salary they tend to be
        economically disadvantaged which in turn hinders their chances of ascending to political office. Cultural
        factors, patriarchy and public opinion have also been identified as some of the other important factors that
        affects woman’s participation in political leadership. In addition gender based electoral violence in form of
        physical harm; sexual harm and psychological harm directed at women as they campaign for political office have
        also been found to discourage women from running for political office. In one of the study conducted in the west
        it has been seen that more women are now running for and being elected to national parliaments than ever before
        and a record number of woman hold executive positions within the national governments. While women have made
        substantial gains in wielding political influence women are still found to participate less in formal politics
        across a variety of Western nations.
    </p>
    <hr />
    <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class=" subtitle is-6">The main goal of the project is to identify the main factors that motivates woman to
        participate in political leadership. Out of all the factors that will be identified, correlation and regression
        will be carried out in order to find out the main factor/s that will have the strongest effect on the dependent
        variable (woman’s participation in the electoral process). So far the study has been able to consider only the
        literacy rate of woman as one of the factor that influences woman’s participation but the project intends to
        find out which other factors affect this and which factor among the many has the strongest effect. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6">The project titled 'Women representation in parliament' has pondered upon the factors
        that are enabling and discouraging the women representation in the parliament. Based on the secondary sources of
        data available in the websites of the Election Commission, Ministry of Education, National Planning Commission
        and United Nations Development Programme (UNDP), we have analyzed the trend of representation of women in the
        parliament since the election of 1991, after restoration of the democracy. From the literature reviews we can
        consider the illiteracy, lack of ownership in wealth, excessive responsibilities in domestic works among others
        are the major factors for low representation, we have analyzed the trend of women representation in different
        elections from 1991 to 2017. The Constitution of the Federal Democratic Republic of Nepal has provisioned 33 per
        cent representation of women. Beyond that, in some of the provinces there is sound representation of women.
        We've looked into the Human Development Index of those provinces where representation is fairly high. Provinces
        that are ranked at the top position in terms of HDI has a positive correlation with women representation. We
        have analyzed the correlation of different indicators of the HDI like, literacy rate, women literacy rate and
        other indicators that measures social progress. We've used different tools to analyze and visualize the data,
        namely, python and tableau. The whole objective of the project is to identify the enablers to increase the women
        representation in the parliament. Through which we can expect the equal participation of women in decision
        making. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>
    <div class='tableauPlaceholder' id='viz1567669847049' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WomensRepresentationinParliament&#47;Dashboard1&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='WomensRepresentationinParliament&#47;Dashboard1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Wo&#47;WomensRepresentationinParliament&#47;Dashboard1&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1567669847049'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.minWidth = '420px'; vizElement.style.maxWidth = '650px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class=" subtitle is-6"><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style=" height:
            560px;"src="
            https://docs.google.com/presentation/d/1_vBPUROf_ygbb64iN7MmLRCupvhMaEW80edTVk7G56k/edit?usp=sharing/embed?start=false&loop=false&delayms=3000"
            frameborder=" 0" width=" 1600" height=" 629" allowfullscreen=" true" mozallowfullscreen=" true"
            webkitallowfullscreen=" true"></iframe><br /><br />
        <p class=" title is-5 has-text-primary is-spaced">Dataset Link:<a href="
                https://drive.google.com/open?id=1QF8JBmKin2z9xYA00s6ayyW-Pbq2hy20"target="_blank"> <p class=" is-6
                has-text-grey-light">Inclusive Nepal Data</p></a>
    </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Limitations of the Project</p>
    <p class=" subtitle is-6">Given a certain deadline for the completion of the project, time might be a major
        constraint since this is a national survey and there might not be sufficient time to interview potential
        respondents in all the province of the country. Since our study has two groups of target respondents, one being
        woman who are already a part of the political offices and the other group are the woman who still aspire and
        wish to participate in the electoral process, it might be quite difficult for the researchers to tap, identify
        and interview all potential respondents. Third important constraint will be the unavailability of the data.
        Literacy rate is the only factor that has been studied so far but according to literature review of several
        studies conducted in all parts of the world it has been seen that there are many factors other than literacy
        level that affects woman’s participation in the electoral process. Data on other demographic factors such as
        age, marital status, economic efficiency need to be further collected and analyzed in order to check their
        effect on woman’s participation. Unavailability of appropriate secondary data on these mentioned factors will
        make the study a bit difficult and the findings ineffective. Hence, the study further needs to focus on primary
        data that will be collected through the female participants of all the provinces. </p><br />
    <p class=" title is-5 has-text-primary is-spaced">Areas where help is required</p>
    <p class=" subtitle is-6">Further Data Collection on other variables (demographic-marital, age, income, religion,
        ethnic group, geographic scope), data scientist and financial resources.</p><br />
    <p class=" title is-5 has-text-primary is-spaced">Additional Information</p>
    <p class=" subtitle is-6">We really worked hard to gather data and visualize as well as writing the report. </p>
    <br />
    <p class=" title is-5 has-text-primary is-spaced">Team Members</p>
    <div class=" columns">
        <div class=" column">
            <figure class=" image is-128x128"><img src=" {{ "images/ashutosh.jpg" | relURL }}" class="
                    is-rounded" /></figure><br />
            <p class=" title is-6 has-text-primary">shutosh Mani Dixit</p>
            <p class=" subtitle is-6 has-text-black">email@email.com</p>
        </div>
    </div>
</section>