<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Empowering women: Does female household ownership affect literacy rate?
  </p>
  <p class=" subtitle is-6">
    Little or no education in women is seen to affect women in many ways. They
    are either married early and bear stunted children, live in poverty, suffer
    domestic and workplace violence, placed in brothels or are made handicapped
    and left in the streets to beg.<br /><br />
    Imparting education to women has proven to have a positive effect on
    mitigating the above mentioned issues (Source:
    https://www.worldbank.org/en/news/press-release/2014/05/14/education-key-role-women-girls-communities-report)
    Over the years, the government of Nepal has been introducing several
    proactive measures to empower women by promoting women’s access, ownership
    and control over land and
    property.(Source:https://www.iom.int/news/securing-womens-land-and-property-rights-nepal
    ).<br /><br />
    This project aims to check if there is a correlation between female
    household ownership and literacy rate. The project looks at provincial
    indicators on literacy rates and female household ownership, which
    contribute to sustainable development goals (SDG) 4: Ensure inclusive and
    equitable quality education and promote lifelong learning opportunities for
    all, and SDG 5: Achieve gender equality and empower all women and girls
    respectively.
    <br /><br />
    During the first phase of the data literacy training, the team used data on
    the aforementioned indicators for five development regions referring to the
    Nepal census data and National Living Standards Survey data for 2011 to test
    the hypothesis, and deduced that a very low positive correlation exists
    between the two variables. The team also looked at the data on literacy
    rates vs household income for the different development regions of Nepal.
    The team reached to a conclusion that there is a very low positive
    correlation between the new variables as well.
    <br /><br />
    In the third phase of the project, the team revisited the problem using
    provincial level data (Source: WorldBank’s data in SDGs) on the two
    indicators - female household ownership, and literacy rate, using a
    different set of tools introduced in the third phase: Tableau for data
    visualization and Python for data processing and statistical calculations.
    The team concluded that there is a very low positive correlation between the
    two variables.
    <br /><br />
    More variables possibly play an important role in improving literacy rate
    rather than just ensuring women’s ownership of property (land or house).
    Steps to increase women inclusion, equality and literacy rate could possibly
    be supported by ensuring students and parents be provided incentives to
    attend and stay in schools. Meal programmes, and ensuring toilets and proper
    hygiene specially for girls could possibly help increase literacy rates.
    <br /><br />
    In the future, evidence based advocacy though collection of primary and
    secondary data and its adoption in national policy may largely bring about
    changes. Methodology that could be used for primary data collection be
    stratified random sampling followed by simple random sampling.
  </p>
  <hr />
  <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
  <p class=" subtitle is-6">
    To compare female household ownership with literacy rate. To check whether
    women's ownership of household helps in achieving improved literacy rate.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
  <p class=" subtitle is-6">
    This project aims to check if there is a correlation between female
    household ownership and literacy rate. The project looks at provincial
    indicators on literacy rates and female household ownership, which
    contribute to sustainable development goals (SDG) 4: Ensure inclusive and
    equitable quality education and promote lifelong learning opportunities for
    all, and SDG 5: Achieve gender equality and empower all women and girls
    respectively.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>

  <iframe
    style="width: 100%; height: 560px;"
    src="https://public.tableau.com/views/Group6-theroleoffemalehouseholdownershiponliteracy/dashboard1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
    width="1600"
    height="629"
  ></iframe>

  <p class=" title is-5 has-text-primary is-spaced">Presentation Slide</p>

  <iframe
    style="height:560px;"
    src="https://docs.google.com/presentation/d/e/2PACX-1vT5Gz3r32HL5PQiOraUcSc4i_ZbtrIIlQpNc86lM3P-XtwGnLe9_G8Ib2j6H7pFx82zWxRmYHbnfqQe/embed?start=false&loop=false&delayms=3000"
    frameborder="0"
    width="1600"
    height="629"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
  ></iframe>

  <br /><br />
  <p class=" title is-5 has-text-primary is-spaced">
    Dataset Link:<a
      href="
                https://drive.google.com/drive/folders/1tOVyYT-iqRk0DCt-t7TqOFhpK3FuQy2L?usp=sharing"
      target="_blank"
    >
      <p class=" is-6 has-text-grey-light">Dataset</p></a
    >
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class=" subtitle is-6">
    Panel data could possibly provide help to us in making a better claim.
    Availability of few datasets was a major limitation of the project. More
    explorations on the claim can be made with larger data sets. Time limitation
    for primary data collection was another limiting factor.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class=" subtitle is-6">
    There are mainly threefold requirements. They are: Human resource who would
    be needed to acquire primary and secondary data. Incentives and Awareness
    Generation Financial support for both field activities as well as
    monitoring, evaluation and Learning (MEL) Budget for Kathmandu valley i.e
    Kathmandu, Lalitpur and Bhaktapur taking 3 VDC from each district. Human
    Resource - Per diem Field workers (Data collection) Co-ordinator Trainers
    Data analyst Auditor Transportation Co ordinator Field worker Equipment
    (Laptop, recorder, Camera, printer, Multimedia projector, Screen)
    Information, education and communication(IEC) materials Incentives for
    parents and mid-day meal program
    <br /><br />
    <strong>Stationary Miscellaneous</strong><br />
    https://docs.google.com/document/d/1i4aVVFbZ6HmtkDztO8tQ8vxotUve8rq4WNTUeZf4vL8/edit#<br /><br />
    <strong>Link to google form sample questionnaire</strong><br />
    https://docs.google.com/forms/d/1Fu9utdyG0uaIqNJyV8PjCAhAvnrdDCsmOIUTDx135qc/edit<br /><br />
    <strong>Link to sample consent form</strong><br />
    https://docs.google.com/document/d/1GHhPXvQ7Zx5duMz2JMzwrXuywamZnih59Y1M86YHkQg/edit<br /><br />
  </p>
  <br />

  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/pranita.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Pranita Upadhyaya
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/shreya.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Shreya Bhandari
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/sunil.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Sunil Kumar Jha
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/tirupati.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Tirupati Pariyar
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/utsav.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Utsav Maden
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
