<section>
  <p class="title is-4 has-text-primary is-spaced">
    Inclusive Education for People with Disability - Are We Doing Enough?
  </p>
  <p class="subtitle is-6">
    An analysis of the existing gaps in the government policies for inclusive
    education for people with disabilities.
  </p>
  <hr />
  <p class="title is-5 has-text-primary is-spaced">
    Goal of the Project
  </p>
  <p class="subtitle is-6">
    ** this is a sample. We want to examine if current government policies
    appropriately designed to facilitate school enrollment for people with
    disabilities. The goal of the project is to To successfully initiate an
    advocacy campaign designed to increase awareness and eventually lead to
    improvements in existing government policies.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Summary of the Project
  </p>
  <p class="subtitle is-6">
    ** this is a sample. We realized that there is a need to push for investing
    in collecting and disseminating data for this context. Also, there is a need
    to start discussions with different line ministries to integrate disability
    indicators in the IS. Similarly, gaps in government policies for
    inclusiveness should be studied.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Dashboard
  </p>

  <iframe
    style="height: 560px;"
    src="http://dataviz.worldbank.org/views/ProvincialSDGDashboardv8/Province?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
    width="1600"
    height="629"
  ></iframe>

  <br />
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Presentation Slide
  </p>
  <iframe
    style="height: 560px;"
    src="https://docs.google.com/presentation/d/e/2PACX-1vSxKIUO58PoNQQ1AM1qhxXyzFvE8fggLvyJjMCAJbwz1wjMfpgRVRFmoimrG5YrC5nPx7S_OgDPvY3H/embed?start=false&loop=false&delayms=3000"
    frameborder="0"
    width="1600"
    height="629"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
  ></iframe>
  <br />
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Dataset Link:
    <a href="/" target="_blank"
      ><p class="is-6 has-text-grey-light">
        Inclusive Nepal Data
      </p>
    </a>
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class="subtitle is-6">
    ** this is a sample. We want to examine if current government policies
    appropriately designed to facilitate school enrollment for people with
    disabilities. The goal of the project is to To successfully initiate an
    advocacy campaign designed to increase awareness and eventually lead to
    improvements in existing government policies.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class="subtitle is-6">
    ** this is a sample. We need help with Nepali Typing.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Next Update Description
  </p>
  <p class="subtitle is-6">
    ** this is a sample. The next dataset will release soon (end of October
    2019). As that happens, we need help from volunteers to help us update the
    dashboard.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/ashutosh.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Ashutosh Mani Dixit
      </p>
      <p class="subtitle is-6 has-text-black">email@email.com</p>
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/ayush.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Ayush Subedi
      </p>
      <p class="subtitle is-6 has-text-black">email@email.com</p>
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/craig.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Craig Hammer
      </p>
      <p class="subtitle is-6 has-text-black">email@email.com</p>
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/liza.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Liza Maharjan
      </p>
      <p class="subtitle is-6 has-text-black">email@email.com</p>
    </div>
  </div>
</section>
