<section>
  <p class=" title is-4 has-text-primary is-spaced">
    Risk Analysis among Migrant Workers from Nepal and Ways to ensure Decent
    Work
  </p>
  <p class=" subtitle is-6">
    This project has analyzed the data of migrant workers from Nepal and the
    initiative that can be taken to ensure decent work in foreign countries.
  </p>
  <hr />
  <p class=" title is-5 has-text-primary is-spaced">Goal of the Project</p>
  <p class=" subtitle is-6">
    We want to create a portal where we want to visualize the data of labour
    migrants, remittance data, death toll and injury toll for respective migrant
    countries. We want to analyze the bilateral agreement signed by countries
    for labour work and also make recommendations to sign bilateral agreement in
    scenario of certain countries to ensure decent work for migrant workers. We
    also want to make recommendation to the provincial and federal government to
    implement skills mapping as per the countries need for skilled labours and
    conduct training programs for decent work of migrants in respective
    countries for they are trained for.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">Summary of the Project</p>
  <p class=" subtitle is-6">
    As a part of our first phase, we analyzed data gathered from Labor Migration
    for Employment and Centre for the Study of Labour and Mobility - CESLAM’s
    official website. We found out in proportion to total migrant workers
    migrating to different countries for work, death is high in the country
    where higher number of workers are moving. Despite this high number,
    government still not signing any bilateral agreement/ MOU with the country
    where death toll seems to be high. In the second phase, we are using all the
    learning of the training in creating a user friendly web portal where the
    existing or potential migrant workers can have access to the current
    scenario of labor market in different countries. Our dashboard is like a
    template for our web portal where we reside detailed information regarding
    the number of migrant workers moving to different destination countries,
    remittance flow to Nepal, challenges and death along with cause of death of
    the workers in those countries. Besides, we have also thought of adding a
    News release where we would announce all the news releases from the
    government or any official sources working for labor migrants like World
    Bank, CESLAM.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">Dashboard</p>

  <iframe
    style="width: 100%; height: 560px;"
    src="https://public.tableau.com/views/finalphaseV1/Dashboard1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
    width="1600"
    height="629"
  >
  </iframe>

  <br /><br />
  <p class=" title is-5 has-text-primary is-spaced">
    Dataset Link:<a
      href="
                https://drive.google.com/open?id=1el4oCSgRb9b8eLCtb5aE_Qocuc1Y9BgB"
      target="_blank"
    >
      <p
        class=" is-6
                has-text-grey-light"
      >
        Dataset
      </p></a
    >
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class=" subtitle is-6">
    We have used the data till 2016/17 only and some of them are till 2014/15
    this is due to lack of online availability of recent data. Similarly, time
    constraint is also one of the limitations due to which we were not being
    able to complete our project at our best.
  </p>
  <br />
  <p class=" title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class=" subtitle is-6">
    We aim to create a web portal which is public and useful to the existing and
    potential migrant workers. One thing that is quite challenging is to hover
    our data year-wise slider for which we are looking help. Additionally, we
    need information to update our web portal for this we might also need the
    help of any media house. At the end basically we are creating a portal for
    the user who can access all the information regarding the labor market so
    that the users do not have to check different files for accessing
    information of their interest.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/bikal.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Bikal Rai
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/gaurav.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Gaurav Kandel
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/nisha.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Nisha Adhikari
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/pratikshya.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Pratikshya Sharma
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/shyam.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Shyam K. Thapa
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
