<section>
    <p class="title is-4 has-text-primary is-spaced">Improving Women's Access to Finance </p>
    <p class="subtitle is-6">Our project attempts to leverage Female Community Health Volunteers in improving access to
        finance of women in rural Nepal </p>
    <hr />
    <p class="title is-5 has-text-primary is-spaced">Goal of the Project</p>
    <p class="subtitle is-6">Increased Access to Finance to Women </p><br />
    <p class="title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class="subtitle is-6">Our project develops a data logging app given to FCHVs who will use it to survey the women
        household regarding their reach to finance. And use that app to register new bank accounts. On doing so they get
        commission from bank thus making the project sustainable </p><br />
    <p class="title is-5 has-text-primary is-spaced">Dashboard</p>
    <div class='tableauPlaceholder' id='viz1567668748428' style='position: relative'><noscript><a href='#'><img alt=' '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4M&#47;4MF9RFDHG&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared&#47;4MF9RFDHG' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;4M&#47;4MF9RFDHG&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' /></object></div>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1567668748428'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.minWidth = '1220px'; vizElement.style.maxWidth = '1620px'; vizElement.style.width = '100%'; vizElement.style.minHeight = '587px'; vizElement.style.maxHeight = '887px'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </p><br />
    <p class="title is-5 has-text-primary is-spaced">Summary of the Project</p>
    <p class="subtitle is-6"><br /><br />
        <p class="title is-5 has-text-primary is-spaced">Presentation Slide</p><iframe style="height: 560px;"
            src="https://drive.google.com/file/d/11JQYQv5f6LK2P_WQtZQ_MgQYGjJnDbTt/view?usp=sharing/embed?start=false&loop=false&delayms=3000"
            frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe><br /><br />
        <p class="title is-5 has-text-primary is-spaced">Dataset Link:<a
                href="https://docs.google.com/spreadsheets/d/1wFr2hMAeeCkQQwfiymwKNS9gDPRxbTcu5mqWZYljNM8/edit?usp=sharing"
                target="_blank">
                <p class="is-6 has-text-grey-light">Inclusive Nepal Data</p>
            </a></p><br />
        <p class="title is-5 has-text-primary is-spaced">Limitations of the Project</p>
        <p class="subtitle is-6">Our project is in initial stage and is limited with technical and financial overheads
        </p><br />
        <p class="title is-5 has-text-primary is-spaced">Areas where help is required</p>
        <p class="subtitle is-6">We can use better app developer and data technician </p><br />
        <p class="title is-5 has-text-primary is-spaced">Additional Information</p>
        <p class="subtitle is-6"> </p><br />
        <p class="title is-5 has-text-primary is-spaced">Team Members</p>
        <div class="columns">
            <div class="column">
                <figure class="image is-128x128"><img src="{{ "images/ashutosh.jpg" | relURL }}" class="is-rounded" />
                </figure><br />
                <p class="title is-6 has-text-primary">shutosh Mani Dixit</p>
                <p class="subtitle is-6 has-text-black">email@email.com</p>
            </div>
        </div>
</section>