<section>
  <p class="title is-4 has-text-primary is-spaced">
    Improving Women's Access to Finance
  </p>
  <p class="subtitle is-6">
    Our project attempts to leverage Female Community Health Volunteers in
    improving access to finance of women in rural Nepal
  </p>
  <hr />
  <p class="title is-5 has-text-primary is-spaced">Goal of the Project</p>
  <p class="subtitle is-6">Increased Access to Finance to Women</p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">Summary of the Project</p>
  <p class="subtitle is-6">
    Our project develops a data logging app given to FCHVs who will use it to
    survey the women household regarding their reach to finance. And use that
    app to register new bank accounts. On doing so they get commission from bank
    thus making the project sustainable
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">Dashboard</p>
  <!-- https://public.tableau.com/views/DashboardforFinalProject/Dashboard1?:embed=y&:display_count=yes&publish=yes&:origin=viz_share_link -->
  <iframe
    style="width: 100%; height: 560px;"
    src="https://public.tableau.com/views/DashboardforFinalProject/Dashboard1?:embed=y&:device=Desktop&:display_spinner=no&:showAppBanner=false&:embed_code_version=3&:loadOrderID=0&:display_count=no&:showVizHome=no"
    width="1600"
    height="629"
  ></iframe>
  <br />

  <p class="title is-5 has-text-primary is-spaced">Presentation Slide</p>

  <iframe
    src="https://docs.google.com/presentation/d/e/2PACX-1vRDIwQhcn-PNRegS4itHqKMqnvHZCFCl_I4BIT-T_1060USTLPWU8Ag-kVH-fufqw/embed?start=false&loop=false&delayms=3000"
    frameborder="0"
    style="height:560px;"
    width="1600"
    height="629"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
  ></iframe>

  <br /><br />
  <p class="title is-5 has-text-primary is-spaced">
    Dataset Link:<a
      href="https://docs.google.com/spreadsheets/d/1wFr2hMAeeCkQQwfiymwKNS9gDPRxbTcu5mqWZYljNM8/edit?usp=sharing"
      target="_blank"
    >
      <p class="is-6 has-text-grey-light">Dataset</p>
    </a>
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class="subtitle is-6">
    Our project is in initial stage and is limited with technical and financial
    overheads
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class="subtitle is-6">
    We can use better app developer and data technician
  </p>

  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/anish.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Anish Bhurtel
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/anupama.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Anupama Pant
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/dipesh.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Dipesh Karki
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/prajjwol.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Prajjwol Lakhey
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
