<section>
  <p class="title is-4 has-text-primary is-spaced">
    Impact of Credit Risk on Financial Performance: A Study of Commercial Banks
    of Nepal
  </p>
  <p class="subtitle is-6">
    To analysis the effects of credit risk on the banks’ profitability in Nepal,
    we have used descriptive statistics, correlation, and regression analysis.
  </p>
  <hr />
  <p class="title is-5 has-text-primary is-spaced">Goal of the Project</p>
  <p class="subtitle is-6">
    To examine the effects of credit risk on the banks’ profitability in Nepal
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">Summary of the Project</p>
  <p class="subtitle is-6">
    This study examines the effect of credit risk on banks’ profitability. For
    the study purpose, five commercial banks over five years period (i.e.
    2013/14 to 2017/18)listed at NEPSE based on Market Capitalization (As of
    2019-04-30) have been selected using convenience sampling technique. The
    correlation results depict that there exists statistically significant
    negative relationship between NPL and banks’ Profitability (ROA). While
    other variables (NPL, CRR, CAR, LEV, and SIZE) have negative correlation
    with ROA, but not found significant. The regression results show that the
    CRR, CAR, and SIZE are found significant at 5% level. It shows that they
    have a statically significant effects on banks’ profitability (ROA). While
    NPL and LEV do not statistically significant effect on banks’ profitability
    (ROA).
  </p>
  <br />
  <br />
  <p class="title is-5 has-text-primary is-spaced">Presentation Slide</p>
  <iframe
    style="height: 560px;"
    src="https://docs.google.com/presentation/d/e/2PACX-1vRaIW5EkIJGMG3OypbwseyUwdJ3THYJmYuak3XWbE_I2Jhhd3rNM8MmC8ZWpLtMSg/embed?start=false&loop=false&delayms=3000"
    frameborder="0"
    width="1600"
    height="629"
    allowfullscreen="true"
    mozallowfullscreen="true"
    webkitallowfullscreen="true"
  ></iframe>
  <br /><br />
  <p class="title is-5 has-text-primary is-spaced">
    Dataset Link:<a
      href="https://drive.google.com/open?id=13Q_xxAvzUuK4NGgxuwBfDVCB8lhVpCtK"
      target="_blank"
    >
      <p class="is-6 has-text-grey-light">Dataset</p>
    </a>
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Limitations of the Project
  </p>
  <p class="subtitle is-6">
    This study is based on small sample size and limited independent variables.
    So, it can not be generalized.
  </p>
  <br />
  <p class="title is-5 has-text-primary is-spaced">
    Areas where help is required
  </p>
  <p class="subtitle is-6">
    Model Specification and Detail Econometric Analysis
  </p>
  <br />

  <p class="title is-5 has-text-primary is-spaced">
    Team Members
  </p>
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/bhim.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Bhim Prasad Gautam
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/madhusudan.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Madhusudan Gautam
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>

    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/ojeshwi.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Ojeshwi Risal
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
    <div class="column">
      <figure class="image is-128x128">
        <img src="{{ "images/pawan.jpg" | relURL }}" class="is-rounded" />
      </figure>
      <br />
      <p class="title is-6 has-text-primary">
        Dr. Pawan Kumar Jha
      </p>
      <!-- <p class="subtitle is-6 has-text-black">email@email.com</p> -->
    </div>
  </div>
</section>
