<div class="columns is-mobile is-centered">
  <div
    class="column is-four-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <article class="media">
      <figure class="media-left">
        <p class="image is-128x128">
          <img src="images/world_bank.png" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p class="title is-4 has-text-primary is-spaced">
            Supported by The World Bank
          </p>
          <p class="subtitle is-6">
            Data literacy can support Nepal government’s priorities by fostering
            an environment where citizens have the knowledge to use data for
            evidence-based decision making and to increase transparency and
            accountability in public.
          </p>
        </div>
      </div>
    </article>
  </div>
</div>
