<div class="columns is-mobile is-centered">
  <div
    class="column is-three-fifths-mobile is-three-fifths-tablet is-one-third-desktop is-one-third-widescreen is-one-third-fullhd"
  >
    <p class="title is-4 has-text-primary has-text-centered is-spaced">
      Supported by
    </p>
    <div class="columns is-centered">
      <center>
        <div class="column is-centered">
          <figure class="image is-128x128">
            <img src="images/wb.jpg" />
          </figure>
        </div>
      </center>
      <center>
        <div class="column">
          <figure class="image is-128x128">
            <img src="images/ukaid.png" />
          </figure>
        </div>
      </center>
    </div>
    <p class="subtitle is-6 has-text-centered">
      Content for this portal was developed as part of Nepal Data Literacy
      Program, an initiative of ‘Partnership for Knowledge-based Poverty
      Reduction and Shared Prosperity’, a World Bank project with support from
      DFID to increase production and usage of data and statistics in Nepal.
      <br /><br />
      The World Bank and DFID do not necessarily own, endorse or take
      responsibility for each component of the content contained within the
      portal.
    </p>
  </div>
</div>
