<p class="title is-4 has-text-primary has-text-centered">
  Winning Teams and Projects
</p>
<br />
<div class="columns is-mobile is-centered">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column is-one-third">
        <a href="">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ "images/win1.jpg" | relURL }}" alt="Winner 1" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Winning Team A Project Title</strong>
                <p>
                  Description regarding the project. Description regarding the project. Description regarding the project. Description regarding the project. Description regarding the project. Description regarding the project. Description regarding the project.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ "images/win2.jpg" | relURL }}" alt="Winner 2" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Winning Team B Project Title</strong>
                <p>
                  Description regarding the project. Description regarding the project. Description regarding the project. Description
                  regarding the project. Description regarding the project. Description regarding the project. Description regarding the
                  project.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-one-third">
        <a href="">
          <div class="card">
            <div class="card-image">
              <figure class="image is-2by1">
                <img src="{{ "images/win3.jpg" | relURL }}" alt="Winner 3" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <strong>Winning Team C Project Title</strong>
                <p>
                  Description regarding the project. Description regarding the project. Description regarding the project. Description
                  regarding the project. Description regarding the project. Description regarding the project. Description regarding the
                  project.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

</div>