<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ partial "header.html" . }}
    <title>Nepal Data Literacy Program</title>
    <!-- js -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  </head>

  <body>
    <br />
    {{ partial "navigation.html" . }}
    {{ partial "feature.html" . }}
    <hr />
    <section class="section">
      <div class="columns is-mobile is-centered">
        <a
          class="title is-4 has-text-grey-light"
          target="_blank"
          href="https://twitter.com/search?q=%23Data4Nepal"
          >#datafornepal</a
        >
      </div>
    </section>

    {{ partial "outcomes.html" . }}
    <br />
    <hr />
    {{ partial "course_units.html" . }}
    <br />
    <hr />
    {{ partial "course_units2.html" . }}
    <br />
    <hr />
    {{ partial "organizations.html" . }}
    <br />
    <hr />
    {{ partial "community.html" . }}
    <br />
    <hr />
    {{ partial "supported_by.html" . }}
    <br />
    <br />
    {{ partial "footer.html" . }}
    <script>
      $(document).ready(function() {
        $(".slider").bxSlider({
          auto: true,
          autoControls: false,
          controls: false,
          stopAutoOnClick: true,
          pager: true
        });
      });
    </script>
  </body>
</html>
