<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ partial "header.html" . }}
    <title>Contact</title>
  </head>

  <body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Contact us
          </h1>
          <h2 class="subtitle">
            If you have queries regarding the program or units please contact
            us. You may also use this contact form to get in touch with us to
            contribute to this project. We are always seeking community support
            to make this portal better. Thank you.
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div
          class="column is-full-mobile is-full-tablet is-one-thirds-desktop is-half-widescreen is-half-fullhd"
        >
          <form
            method="POST"
            action="https://formspree.io/datafornepal@gmail.com"
          >
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  name="name"
                  class="input"
                  type="text"
                  placeholder="Your name"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input
                  name="_replyto"
                  class="input"
                  type="email"
                  placeholder="Your email"
                />
              </div>
            </div>

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea
                  name="message"
                  class="textarea"
                  placeholder="Your message"
                ></textarea>
              </div>
            </div>
            <div class="control">
              <button type="submit" class="button is-primary">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <br />
    <hr />
    {{ partial "footer.html" . }}
  </body>
</html>
