<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  {{ partial "header.html" . }}
  <title>Unit 2</title>
</head>

<body>
  {{ partial "navigation.html" . }}
  <br />
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Unit 2 : Intro to Data Fundamentals and Finding Data Online
        </h1>
        <h2 class="subtitle">
          The unit covers topics on data-driven decision making, types of
          data, data visualizations, different formats of data, finding data
          online and navigating national databases.
        </h2>
      </div>
    </div>
  </section>
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
      <br />
      <section>
        <div class="columns is-desktop">
          <div class="column">
            <p class="title is-4 has-text-primary">
              Presentation Slide
            </p>
            <p class="title is-6">
            </p>
            <iframe style="height: 560px;"
              src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRclVogOpEZY7g-v4ZinGGLO6Qt2_Dpp7pqoOQDFtiQFcwZrfTanHnJt7FwgDmWXzJlsFowIXsqS_cp/pubhtml"
              frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
              webkitallowfullscreen="true">
            </iframe>
          </div>

      </section>
    </div>
  </div>
  <hr />
  <br />
  {{ partial "footer.html" . }}
</body>

</html>https://docs.google.com/spreadsheets/d/e/2PACX-1vRclVogOpEZY7g-v4ZinGGLO6Qt2_Dpp7pqoOQDFtiQFcwZrfTanHnJt7FwgDmWXzJlsFowIXsqS_cp/pubhtml?widget=true&amp;headers=false