<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {{ partial "header.html" . }}
    <title>Nepal Data Literacy Phase 3 Team Projects</title>
</head>

<body>

    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Nepal Data Literacy Phase 3 Team Projects
                </h1>
                <!-- <h2 class="subtitle">
                    This is the template that will be used for the purpose of showcasing
                    your project. This template should help you get an understanding of
                    what you are supposed to submit, how your projects will be
                    displayed, how you will let the experts in Solvathon know the key
                    areas of the projects where you need help, when your projects should
                    update next based on new datasets etc.
                </h2> -->
            </div>
        </div>
    </section>
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-full-mobile is-full-tablet is-four-fifths-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="tabs">
                            <ul>
                                <li id="team1" class="is-active">
                                    <a onClick="switchTo1()">
                                        <span>Team 1</span>
                                    </a>
                                </li>
                                <li id="team2">
                                    <a onClick="switchTo2()">
                                        <span>Team 2</span>
                                    </a>
                                </li>
                                <li id="team3">
                                    <a onClick="switchTo3()">
                                        <span>Team 3</span>
                                    </a>
                                </li>
                                <li id="team4">
                                    <a onClick="switchTo4()">
                                        <span>Team 4</span>
                                    </a>
                                </li>
                                <li id="team5">
                                    <a onClick="switchTo5()">
                                        <span>Team 5</span>
                                    </a>
                                </li>
                                <li id="team6">
                                    <a onClick="switchTo6()">
                                        <span>Team 6</span>
                                    </a>
                                </li>
                                <li id="team8">
                                    <a onClick="switchTo8()">
                                        <span>Team 8</span>
                                    </a>
                                </li>
                                <li id="team9">
                                    <a onClick="switchTo9()">
                                        <span>Team 9</span>
                                    </a>
                                </li>
                                <li id="team10">
                                    <a onClick="switchTo10()">
                                        <span>Team 10</span>
                                    </a>
                                </li>
                                <li id="team12">
                                    <a onClick="switchTo12()">
                                        <span>Team 12</span>
                                    </a>
                                </li>
                                <li id="team14">
                                    <a onClick="switchTo14()">
                                        <span>Team 14</span>
                                    </a>
                                </li>
                                <li id="team15">
                                    <a onClick="switchTo15()">
                                        <span>Team 15</span>
                                    </a>
                                </li>
                                <li id="team17">
                                    <a onClick="switchTo17()">
                                        <span>Team 17</span>
                                    </a>
                                </li>
                                <li id="team18">
                                    <a onClick="switchTo18()">
                                        <span>Team 18</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-four-fifths">
                       
                            <div id="team1-content">
                                {{ partial "project_team1.html" . }}
                            </div>
                            <div class="is-hidden" id="team2-content">
                                {{ partial "project_team2.html" . }}
                            </div>
                             <div class="is-hidden" id="team3-content">
                                {{ partial "project_team3.html" . }}
                            </div> 
                            
                            <div class="is-hidden" id="team4-content">
                                {{ partial "project_team4.html" . }}
                            </div>
                            
                           
                            <div class="is-hidden" id="team5-content">
                                {{ partial "project_team5.html" . }}
                            </div>
                             
                             
                            <div class="is-hidden" id="team6-content">
                                {{ partial "project_team6.html" . }}
                            </div>


                            <div class="is-hidden" id="team8-content">
                                {{ partial "project_team8.html" . }}
                            </div>
                             
                            <div class="is-hidden" id="team9-content">
                                {{ partial "project_team9.html" . }}
                            </div>
                            
                            <div class="is-hidden" id="team10-content">
                                {{ partial "project_team10.html" . }}
                            </div>
                            <div class="is-hidden" id="team12-content">
                                {{ partial "project_team12.html" . }}
                            </div>
                            <div class="is-hidden" id="team14-content">
                                {{ partial "project_team14.html" . }}
                            </div>
                            <div class="is-hidden" id="team15-content">
                                {{ partial "project_team15.html" . }}
                            </div>
                            <div class="is-hidden" id="team17-content">
                                {{ partial "project_team17.html" . }}
                            </div>
                            <div class="is-hidden" id="team18-content">
                                {{ partial "project_team18.html" . }} 
                     
                        </div>
                    </div>
                </div>
            </div>
    </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function switchTo1() {
            removeActive();
            hideAll();
            $("#team1").addClass("is-active");
            $("#team1-content").removeClass("is-hidden");
        }

        function switchTo2() {
            removeActive();
            hideAll();
            $("#team2").addClass("is-active");
            $("#team2-content").removeClass("is-hidden");
        }

        function switchTo3() {
            removeActive();
            hideAll();
            $("#team3").addClass("is-active");
            $("#team3-content").removeClass("is-hidden");
        }

        function switchTo4() {
            removeActive();
            hideAll();
            $("#team4").addClass("is-active");
            $("#team4-content").removeClass("is-hidden");
        }

        function switchTo5() {
            removeActive();
            hideAll();
            $("#team5").addClass("is-active");
            $("#team5-content").removeClass("is-hidden");
        }

        function switchTo6() {
            removeActive();
            hideAll();
            $("#team6").addClass("is-active");
            $("#team6-content").removeClass("is-hidden");
        }



        function switchTo8() {
            removeActive();
            hideAll();
            $("#team8").addClass("is-active");
            $("#team8-content").removeClass("is-hidden");
        }

        function switchTo9() {
            removeActive();
            hideAll();
            $("#team9").addClass("is-active");
            $("#team9-content").removeClass("is-hidden");
        }

        function switchTo10() {
            removeActive();
            hideAll();
            $("#team10").addClass("is-active");
            $("#team10-content").removeClass("is-hidden");
        }

        function switchTo12() {
            removeActive();
            hideAll();
            $("#team12").addClass("is-active");
            $("#team12-content").removeClass("is-hidden");
        }

        function switchTo14() {
            removeActive();
            hideAll();
            $("#team14").addClass("is-active");
            $("#team14-content").removeClass("is-hidden");
        }
        function switchTo15() {
            removeActive();
            hideAll();
            $("#team15").addClass("is-active");
            $("#team15-content").removeClass("is-hidden");
        }
        function switchTo17() {
            removeActive();
            hideAll();
            $("#team17").addClass("is-active");
            $("#team17-content").removeClass("is-hidden");
        }
        function switchTo18() {
            removeActive();
            hideAll();
            $("#team18").addClass("is-active");
            $("#team18-content").removeClass("is-hidden");
        }

        function removeActive() {
            $("li").each(function () {
                $(this).removeClass("is-active");
            });
        }

        function hideAll() {
            $("#team1-content").addClass("is-hidden");
            $("#team2-content").addClass("is-hidden");
            $("#team3-content").addClass("is-hidden");
            $("#team4-content").addClass("is-hidden");
            $("#team5-content").addClass("is-hidden");
            $("#team6-content").addClass("is-hidden");

            $("#team8-content").addClass("is-hidden");
            $("#team9-content").addClass("is-hidden");
            $("#team10-content").addClass("is-hidden");

            $("#team12-content").addClass("is-hidden");

            $("#team14-content").addClass("is-hidden");
            $("#team15-content").addClass("is-hidden");
            $("#team17-content").addClass("is-hidden");
            $("#team18-content").addClass("is-hidden");
        }
    </script>
        <script type="text/javascript" src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
        <script type="text/javascript">
            var viz;

            function initViz() {
                var containerDiv = document.getElementById("vizContainer"),
                    url = "http://public.tableau.com/views/RegionalSampleWorkbook/Stocks",
                    options = {
                        hideTabs: true
                    };

                viz = new tableau.Viz(containerDiv, url, options);
            }

            function vizResize() {
                var width = document.getElementById("resizeWidth").value;
                var height = document.getElementById("resizeHeight").value;

                viz.setFrameSize(parseInt(width, 10), parseInt(height, 10));
            }
        </script>
</body>
<br />
<hr />
{{ partial "footer.html" . }}

</html>