<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {{ partial "header.html" . }}
    <title>Unit 8</title>
</head>

<body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Unit 8 : Basic Dataviz with Tableau
                </h1>
                <h2 class="subtitle">
This unit covers topics on basic data visualization with Tableau including understanding data, organizing it, and
presenting it in formats and visualizations that makes sense to people who use it to make a real impact with data.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns is-mobile is-centered">
        <div
            class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
            <br />
            <section>
                <div class="columns is-desktop">
                    <div class="column is-9-desktop">
                        <p class="title is-4 has-text-primary">
                            Presentation Slide
                        </p>
                        <p class="title is-6">
                            <!-- Instructors: Sunnie Joshi, Craig Hammer -->
                        </p>
                        <iframe style="height: 560px;"
                            src="https://docs.google.com/presentation/d/e/2PACX-1vQE_n3xZ5bDd5TbUry5iznJXbPm9GxrUZNOyVDSz569jEtUupEsYki_djagcf--08enABCecwio_pH1/embed?start=false&loop=false&delayms=3000"
                            frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
                            webkitallowfullscreen="true"></iframe>
                    </div>
                    <div class="column is-3-desktop">
                        <br />
                        <br />
                        <br />
                        <aside class="menu">
                            <p class="menu-label">
                                Supplement Materials
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1p4gPQNO1i7HzCsUOu5GPQU8gTpVRKeATFlylznWyoMg"
                                        target="_blank">Student Workbook</a>
                                </li>
                                <!-- <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1wKisEgysfOfdSQgFDb0l7jRBC0GudNjXFnUZnlIbdRU"
                                        target="_blank">Instructor Note</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=14IrYl9hnT1WuzqanxKkaSjnZeD3mwvvII61exoTPeyI"
                                        target="_blank">Downloadable Slide</a>
                                </li> -->
                            </ul>
                        </aside>
                    </div>
            </section>
        </div>
    </div>
    <hr />
    <br />
    {{ partial "footer.html" . }}
</body>

</html>