<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {{ partial "header.html" . }}
    <title>Unit 10</title>
</head>

<body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Unit 10 : Leadership and Design
                </h1>
                <h2 class="subtitle">
This unit covers topics on design thinking and it's application, use of big data in design thinking, servant leadership,
presentation skills and the characteristics of a good presentation.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns is-mobile is-centered">
        <div
            class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
            <br />
            <section>
                <div class="columns is-desktop">
                    <div class="column is-9-desktop">
                        <p class="title is-4 has-text-primary">
                            Presentation Slide
                        </p>
                        <p class="title is-6">
                            <!-- Instructors: Sunnie Joshi, Craig Hammer -->
                        </p>
                        <iframe style="height: 560px;"
                            src="https://docs.google.com/presentation/d/e/2PACX-1vRrbC4Z72XuI1z3iTCn1TgGoToMNpSR7lEt1TdLOr_n4mG3rOlHSGsrPb5jMesqzKjAekyZbHJhx59I/embed?start=false&loop=false&delayms=3000"
                            frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
                            webkitallowfullscreen="true">
                        </iframe>
                    </div>
                    <div class="column is-3-desktop">
                        <br />
                        <br />
                        <br />
                        <aside class="menu">
                            <p class="menu-label">
                                Supplement Materials
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1q2qnD5YHyBhyzguHHKtMU-qjBDeFp69M_WknG_lruXM"
                                        target="_blank">Student Workbook</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1Eh50DAWKv4_OoPyvDAXsL66R4VH_ItoZn7PixsYHqfE"
                                        target="_blank">Instructor Note</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1DCDstith0itcm2wlSADMKSdfYvxtGYe85Uz-C3iQxD8"
                                        target="_blank">Downloadable Slide</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
            </section>
        </div>
    </div>
    <hr />
    <br />
    {{ partial "footer.html" . }}
</body>

</html>