<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  {{ partial "header.html" . }}
  <title>Unit 3</title>
</head>

<body>
  {{ partial "navigation.html" . }}
  <br />
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Unit 3 : Intro to Data Fundamentals and Finding Data Online
        </h1>
        <h2 class="subtitle">
          The unit covers topics on working with messy data, parsing
          PDFs and other formats, testing the reliability of data,
          performing EDA, and finding stories in data visualizations.
        </h2>
      </div>
    </div>
  </section>
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
      <br />
      <section>
        <div class="columns is-desktop">
          <div class="column is-9-desktop">
            <p class="title is-4 has-text-primary">
              Presentation Slide
            </p>
            <p class="title is-6">
              <!-- Instructors: Nkechi Coker, Craig Hammer -->
            </p>
            <iframe style="height: 560px;"
              src="https://docs.google.com/presentation/d/e/2PACX-1vT7j_ODgK-87YUiiHSDmBaM2MquzO07KlkOywT1PLZiCC4c2FiJCdUIz2KJ4Dz9oYywh04LVFm_8Lx2/embed?start=false&loop=false&delayms=3000"
              frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
              webkitallowfullscreen="true"></iframe>
          </div>
          <div class="column is-3-desktop">
            <br />
            <br />
            <br />
            <aside class="menu">
              <p class="menu-label">
                Supplement Materials
              </p>
              <ul class="menu-list">
                <li>
                  <a class="" href="https://drive.google.com/open?id=1s2ltyHhhuwVLMVBKMxCQLEGPWYliCbRI6q7OWtfwM0s"
                    target="_blank">Student Workbook</a>
                </li>
                <li>
                  <a class="" href="https://drive.google.com/open?id=1jvU5ZUdUAiQD8At9Km9G8JDVAc7rIZRF5_BsMZmzlyM"
                    target="_blank">Instructor Note</a>
                </li>
              </ul>
            </aside>
          </div>
      </section>
    </div>
  </div>
  <hr />
  <br />
  {{ partial "footer.html" . }}
</body>

</html>