<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {{ partial "header.html" . }}
    <title>Unit 6</title>
</head>

<body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Unit 6 : Introduction to Probability and Inferential Statistics
                </h1>
                <h2 class="subtitle">
This unit covers topics on probability theory, theoritical probability and experimental probability, compound
probabilities, conditional probabilities, inferential statistics and correlation and regression.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns is-mobile is-centered">
        <div
            class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
            <br />
            <section>
                <div class="columns is-desktop">
                    <div class="column is-9-desktop">
                        <p class="title is-4 has-text-primary">
                            Presentation Slide
                        </p>
                        <p class="title is-6">
                            <!-- Instructors: Sunnie Joshi, Craig Hammer -->
                        </p>
                        <iframe style="height: 560px;"
                            src="https://docs.google.com/presentation/d/e/2PACX-1vQp31jIag53N0hYhChVFfj0tHJW5EPOVnpvmri2-1qWTgXSCFBsO_TIynH3VtR0lOAMeR0sseSugoWG/embed?start=false&loop=false&delayms=3000"
                            frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
                            webkitallowfullscreen="true"></iframe>
                    </div>
                    <div class="column is-3-desktop">
                        <br />
                        <br />
                        <br />
                        <aside class="menu">
                            <p class="menu-label">
                                Supplement Materials
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=110S6yuhoxxHyqn6q9f40DPG-RyxJ93VplOExxHfVxRE"
                                        target="_blank">Student Workbook</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1ki0Jk2JcvwdNPYf2LeJMGMhN1Z-S8ff0wpYOvXkO0rs"
                                        target="_blank">Instructor Note</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=15aFUeVJeIG3g8oCyQmvYSN9-GcwQtDlkSnV5D66MGE8"
                                        target="_blank">Downloadable Slide</a>
                                </li>
                            </ul>
                        </aside>
                    </div>
            </section>
        </div>
    </div>
    <hr />
    <br />
    {{ partial "footer.html" . }}
</body>

</html>