<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ partial "header.html" . }}
    <title>Contact</title>
  </head>

  <body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Unit 2 : Data Sources, Context, and Privacy
          </h1>
          <h2 class="subtitle">
            Data literacy can support Nepal government’s priorities by fostering
            an environment where citizens have the knowledge to use data for
            evidence-based decision making and to increase transparency and
            accountability in public service delivery.
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div
          class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd"
        >
          <p class="title is-4 has-text-primary">Modules for Unit 2</p>
          <div class="tabs is-toggle is-fullwidth" id="tabs">
            <ul>
              <li class="is-active" data-tab="1">
                <a>
                  <p>Module 1</p>
                </a>
              </li>
              <li data-tab="2">
                <a>
                  <p>Module 2</p>
                </a>
              </li>
              <li data-tab="3">
                <a>
                  <p>Module 3</p>
                </a>
              </li>
            </ul>
          </div>
          <div id="tab-content">
            <!-- Module 1 -->
            <section class="is-active" data-content="1">
              <p class="title is-4 has-text-primary has-text-centered">
                Introduction to the world of data
              </p>
              <p class="title is-6 has-text-centered">
                Instructors: Sunnie Joshi, Craig Hammer
              </p>
              <br \ />
              <div class="columns is-desktop">
                <div class="column is-4-desktop">
                  <p class="title is-5 has-text-primary">Topics covered:</p>
                  <ul class="ul-nested">
                    <li>Definition of data and open data</li>
                    <li>Explanation of data-driven decision making</li>
                    <li>
                      Introduction to types of attributes:
                      <ul class="ul-nested">
                        <li>Categorical</li>
                        <li>Numerical</li>
                        <li>Ordinal</li>
                      </ul>
                    </li>
                    <li>
                      Visualizing data using:
                      <ul class="ul-nested">
                        <li>Dot plots</li>
                        <li>Pie charts</li>
                        <li>Bar charts</li>
                        <li>Stacked bar charts</li>
                      </ul>
                    </li>
                  </ul>
                  <hr />
                  <p class="title is-5 has-text-primary">Important Links:</p>
                  <ul class="ul-nested">
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/14IpCMRapPdwo9tGsEYGo5VJATPzGP7iMLbhSujtd7UQ/edit"
                        >Student's Workbook</a
                      >
                    </li>
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/124-0fdCpXbg6b7fyPaBJj9WOKFRVE9kWYyUvxoJvtQI/edit#heading=h.gjdgxs"
                        >Instructor's Note</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column is-8-desktop">
                  <iframe
                    style="height: 560px;"
                    src="https://docs.google.com/presentation/d/e/2PACX-1vTNwtLUxgojoY0IcqsDcKfL2ZJrjk9-U8PfCk_Ufyupj6RHyf7hYyk1NoAJ5UX6UDTpSjXRAkBEUrEp/embed?start=false&loop=false&delayms=3000"
                    frameborder="0"
                    width="960"
                    height="749"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"
                  >
                  </iframe>
                </div>
              </div>
            </section>
            <!-- Module 2 -->
            <section data-content="2">
              <p class="title is-4 has-text-primary has-text-centered">
                The Data Pipeline
              </p>
              <p class="title is-6 has-text-centered">
                Instructors: Sunnie Joshi, Craig Hammer
              </p>
              <br \ />
              <div class="columns is-desktop">
                <div class="column is-4-desktop">
                  <p class="title is-5 has-text-primary">Topics covered:</p>
                  <ul class="ul-nested">
                    <li>Common data formats</li>
                    <li>Ease of use</li>
                    <li>
                      Introduction to open data formats:
                      <ul class="ul-nested">
                        <li>CSV</li>
                        <li>XML</li>
                        <li>JSON</li>
                      </ul>
                    </li>
                    <li>
                      Examples of use with different tools
                    </li>
                  </ul>
                  <hr />
                  <p class="title is-5 has-text-primary">Important Links:</p>
                  <ul class="ul-nested">
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/14IpCMRapPdwo9tGsEYGo5VJATPzGP7iMLbhSujtd7UQ/edit"
                        >Student's Workbook</a
                      >
                    </li>
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/124-0fdCpXbg6b7fyPaBJj9WOKFRVE9kWYyUvxoJvtQI/edit#heading=h.gjdgxs"
                        >Instructor's Note</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column is-8-desktop">
                  <iframe
                    style="height: 560px;"
                    src="https://docs.google.com/presentation/d/e/2PACX-1vTNwtLUxgojoY0IcqsDcKfL2ZJrjk9-U8PfCk_Ufyupj6RHyf7hYyk1NoAJ5UX6UDTpSjXRAkBEUrEp/embed?start=false&loop=false&delayms=3000"
                    frameborder="0"
                    width="960"
                    height="749"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"
                  >
                  </iframe>
                </div>
              </div>
            </section>
            <section data-content="3">
              <p class="title is-4 has-text-primary has-text-centered">
                Introduction to the world of data
              </p>
              <p class="title is-6 has-text-centered">
                Instructors: Sunnie Joshi, Craig Hammer
              </p>
              <br \ />
              <div class="columns is-desktop">
                <div class="column is-4-desktop">
                  <p class="title is-5 has-text-primary">Topics covered:</p>
                  <ul class="ul-nested">
                    <li>Definition of data and open data</li>
                    <li>Explanation of data-driven decision making</li>
                    <li>
                      Introduction to types of attributes:
                      <ul class="ul-nested">
                        <li>Categorical</li>
                        <li>Numerical</li>
                        <li>Ordinal</li>
                      </ul>
                    </li>
                    <li>
                      Visualizing data using:
                      <ul class="ul-nested">
                        <li>Dot plots</li>
                        <li>Pie charts</li>
                        <li>Bar charts</li>
                        <li>Stacked bar charts</li>
                      </ul>
                    </li>
                  </ul>
                  <hr />
                  <p class="title is-5 has-text-primary">Important Links:</p>
                  <ul class="ul-nested">
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/14IpCMRapPdwo9tGsEYGo5VJATPzGP7iMLbhSujtd7UQ/edit"
                        >Student's Workbook</a
                      >
                    </li>
                    <li>
                      <a
                        target="_blank"
                        href="https://docs.google.com/document/d/124-0fdCpXbg6b7fyPaBJj9WOKFRVE9kWYyUvxoJvtQI/edit#heading=h.gjdgxs"
                        >Instructor's Note</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="column is-8-desktop">
                  <iframe
                    style="height: 560px;"
                    src="https://docs.google.com/presentation/d/e/2PACX-1vTNwtLUxgojoY0IcqsDcKfL2ZJrjk9-U8PfCk_Ufyupj6RHyf7hYyk1NoAJ5UX6UDTpSjXRAkBEUrEp/embed?start=false&loop=false&delayms=3000"
                    frameborder="0"
                    width="960"
                    height="749"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"
                  >
                  </iframe>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <br />

    {{ partial "footer.html" . }}
  </body>
</html>
