<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  {{ partial "header.html" . }}
  <title>Unit 5</title>
</head>

<body>
  {{ partial "navigation.html" . }}
  <br />
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Unit 5 : Data Driven Decision Making and Storytelling
        </h1>
        <h2 class="subtitle">
          The unit covers topics on ways to use data to craft broad context and audience relevant conclusions,
          overall process of story telling from coming up with a hypothesis to collecting data to cleaning data
          to performing analysis and making good claims.
        </h2>
      </div>
    </div>
  </section>
  <div class="columns is-mobile is-centered">
    <div
      class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
      <br />
      <section>
        <div class="columns is-desktop">
          <div class="column is-9-desktop">
            <p class="title is-4 has-text-primary">
              Presentation Slide
            </p>
            <p class="title is-6">
              <!-- Instructors: Ravi Kumar -->
            </p>
            <iframe style="height: 560px;"
              src="https://docs.google.com/presentation/d/e/2PACX-1vRWnVmNhV75n3o2jlvRcjmW3gpsHvK9EvbXftVe-XAFiYlULDFzzKL2_q4KlmmkTac1D08rUW09vw_y/embed?start=false&loop=false&delayms=3000"
              frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
              webkitallowfullscreen="true"></iframe>
          </div>
          <div class="column is-3-desktop">
            <br />
            <br />
            <br />
            <aside class="menu">
              <p class="menu-label">
                Supplement Materials
              </p>
              <ul class="menu-list">
                <li>
                  <a class="" href="https://drive.google.com/open?id=1pJNZ1OhG5EbF21KK5lH_TDibYg-r7_IW4RKmpxcmPSI"
                    target="_blank">Student Workbook</a>
                </li>
                <li>
                  <a class="" href="https://drive.google.com/open?id=1reIFe8b1G3-mEViF9olPpgGDWk_8g95wfVtP9ntnbZo"
                    target="_blank">Instructor Note</a>
                </li>
                <li>
                  <a class="" href="https://drive.google.com/open?id=1lhHRu_CGXey4WDX41ZI15xx7DWSaUjYail2h-yawiuk"
                    target="_blank">Downloadable Slide</a>
                </li>
              </ul>
                            <p class="menu-label">
                              Supplement Readings
                            </p>
                            <ul class="menu-list">
                              <li><a href="https://www.newyorker.com/magazine/2013/07/29/slow-ideas" target="_blank">Slow Ideas</a></li>
                              <li><a href="https://www.oreilly.com/library/view/creating-a-data-driven/9781491916902/ch01.html" target="_blank">Creating a Data-Driven Organization</a></li>
                              <li><a href="https://citizens-guide-open-data.github.io/guide/4-od-and-privacy" target="_blank">Open Data and Privacy</a></li>
                              <li><a href="https://www.ucd.ie/promoteyourresearch/RESEARCH.pdf" target="_blank">Promote your Research</a></li>
                            </ul>
            </aside>
          </div>
      </section>
    </div>
  </div>
  <hr />
  <br />
  {{ partial "footer.html" . }}
</body>

</html>