<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
    {{ partial "header.html" . }}
    <title>Unit 7</title>
</head>

<body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Unit 7 : Introduction to Python and Machine Learning
                </h1>
                <h2 class="subtitle">
This unit covers topics on Google Colab for data analysis and machine learning, introduction to Pandas and Seaborn,
introduction to machine learning and creating simple machine learning models for regression and classification.
                </h2>
            </div>
        </div>
    </section>
    <div class="columns is-mobile is-centered">
        <div
            class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd">
            <br />
            <section>
                <div class="columns is-desktop">
                    <div class="column is-9-desktop">
                        <p class="title is-4 has-text-primary">
                            Presentation Slide
                        </p>
                        <p class="title is-6">
                            <!-- Instructors: Sunnie Joshi, Craig Hammer -->
                        </p>
                        <iframe style="height: 560px;"
                            src="https://docs.google.com/presentation/d/e/2PACX-1vTlceRpdtN_42Fq1d0YxgOIIZJl6HdGP6GwrbZaAS2-Oaf0N1lYjS63u-Dm1XTjgezb7LCTrgPRevE3/embed?start=false&loop=false&delayms=3000"
                            frameborder="0" width="1600" height="629" allowfullscreen="true" mozallowfullscreen="true"
                            webkitallowfullscreen="true"></iframe>
                    </div>
                    <div class="column is-3-desktop">
                        <br />
                        <br />
                        <br />
                        <aside class="menu">
                            <p class="menu-label">
                                Supplement Materials
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=1clLQ1O9hqLyWTi5oEnO2kghgDR6MMAB0_IuYUu0vCrY"
                                        target="_blank">Student Workbook</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="/"
                                        target="_blank">Instructor Note</a>
                                </li>
                                <li>
                                    <a class=""
                                        href="https://drive.google.com/open?id=165ALf-XnC9ZHSkuVpSdYhiOdi4NZtG_v_fbbnb8kMfw"
                                        target="_blank">Downloadable Slide</a>
                                </li>
                            </ul>
                                          <p class="menu-label">
                Google Colab Files
              </p>
              <ul class="menu-list">
                <li><a href="https://colab.research.google.com/drive/1ywtKMeaXitdIMbBF0n3vz_cvrbMOMwSp" target="_blank">Python Basics</a></li>
                <li><a href="https://colab.research.google.com/drive/1X43SiE3bvWErQnrDeC1rUpQ4RDae3Gmc" target="_blank">Python Basics (Solutions)</a></li>
                <li><a href="https://colab.research.google.com/drive/1O4bEoAq2xPV5h1s7AG0cM3h8GoM0uxxg" target="_blank">Probabilities in Python</a></li>
                <li><a href="https://colab.research.google.com/drive/1LygekNV9va00iRF2wMNIVHEQYTMx2YyW" target="_blank">Probabilities in Python (Solutions)</a></li>
                <li><a href="https://colab.research.google.com/drive/1LPP7Kvso-zgS2CLYgG70UvEl2A4WSTmk" target="_blank">Introduction to Seaborn for visualization</a></li>
                <li><a href="https://colab.research.google.com/drive/1A2nRZaMkhmhdAAoE3x7Xbr78DEKq4ErF" target="_blank">Introduction to Pandas</a></li>
                <li><a href="https://colab.research.google.com/drive/1Mn9DzyXtlkn-PIqgyMdv6IECWdJFDyIB" target="_blank">Linear Regression</a></li>
                <li><a href="https://colab.research.google.com/drive/1LeqK14vDQIpNFVrmk_8x-CY0Rr9atT2w" target="_blank">Logistic Regression</a></li>
            </ul>
                        </aside>
                    </div>
            </section>
        </div>
    </div>
    <hr />
    <br />
    {{ partial "footer.html" . }}
</body>

</html>