<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    {{ partial "header.html" . }}
    <title>August-September 2019 Agenda</title>
  </head>

  <body>
    {{ partial "navigation.html" . }}
    <br />
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            August-September 2019 Workshop
          </h1>
          <h2 class="subtitle">
            This page contains information on the second Data Literacy Workshop.
            Please use the contact form to get more information other than what
            is provided in this page.
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div
          class="column is-four-fifths-mobile is-four-fifths-tablet is-two-thirds-desktop is-two-thirds-widescreen is-two-thirds-fullhd"
        >
          <div class="columns">
            <div class="column is-4-desktop">
              <p class="title is-4 has-text-primary">
                Venue
              </p>
              <p class="subtitle is-4 has-text-black">
                Hotel Royal Singi<br />
                Kathmandu, Nepal
              </p>
              <br />
              <hr />
              <br />
              <p class="title is-4 has-text-primary">
                Date
              </p>
              <p class="subtitle is-4 has-text-black">
                August 26 - September 6, 2019
              </p>
            </div>
            <div class="column is-8-desktop">
              <iframe
                style="height: 560px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.2245772641722!2d85.31711735144367!3d27.71035153188067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1906b06168cd%3A0xb70acf87ba682a29!2sHotel+Royal+Singi!5e0!3m2!1sen!2snp!4v1560138226798!5m2!1sen!2snp"
                width="2000"
                height="450"
                frameborder="0"
                style="border:0"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <hr />
          <div class="columns">
            <div class="column is-4-desktop">
              <p class="title is-4 has-text-primary">
                Agenda
              </p>
            </div>
            <div class="column is-8-desktop">
              <iframe
                style="width:2018px; height:700px;"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ9XHYBG0LQnklq0q75Z2Ex7a5Ti9dp1QTer7gjK8nCVgPEskvukhscWKk0FpW3OvpkjyCZZqTgdUuQ/pubhtml?widget=true&amp;headers=false"
              ></iframe>
            </div>
          </div>
          <br />
          <hr />
          <div class="columns">
            <div class="column is-4-desktop">
              <p class="title is-4 has-text-primary">
                Team
              </p>
            </div>
            <div class="column is-8-desktop">
              <div class="columns">
                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/ashutosh.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Ashutosh Mani Dixit
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>

                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/ayush.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Ayush Subedi
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>

                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/craig.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Craig Hammer
                  </p>
                  <p class="subtitle is-6 has-text-black">Advisor</p>
                </div>

                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/liza.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Liza Maharjan
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>
              </div>

              <div class="columns">
                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/nk.jpg" | relURL }}" class="is-rounded"
                    />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Nkechi Coker
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>

                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/ravi.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Ravi Kumar
                  </p>
                  <p class="subtitle is-6 has-text-black">Team Lead</p>
                </div>

                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/sujata.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Sujata Ghising
                  </p>
                  <p class="subtitle is-6 has-text-black">Program Assistant</p>
                </div>
                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/sundar.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Sundar Jung Thapa
                  </p>
                  <p class="subtitle is-6 has-text-black">Logistic Assistant</p>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/sunnie.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Sunnie Joshi
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>
                <div class="column">
                  <figure class="image is-128x128">
                    <img src="{{ "images/suraj.jpg" | relURL }}"
                    class="is-rounded" />
                  </figure>
                  <br />
                  <p class="title is-6 has-text-primary">
                    Suraj Regmi
                  </p>
                  <p class="subtitle is-6 has-text-black">Instructor</p>
                </div>
                <div class="column"></div>
                <div class="column"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br />
    <hr />
    {{ partial "footer.html" . }}
  </body>
</html>
